[2017-02-02 07:27] beeman opened #3 "env: node\r: No such file or directory"
I'm getting the error `env: node\r: No such file or directory` when trying to run angular-playground in a freshly installed angular-cli app.

To reproduce (using `angular-cli: 1.0.0-beta.28.3`):

[code]

The error seems to be gone when the following file is converted using `fromdos` tool (`brew install tofrodos`).

`fromdos ./node_modules/angular-playground/dist/bin/cli.js`

*Edit*

I'm running on

[2017-02-02 07:30] beeman opened #4 "feat: Make angular-playground compatible with @angular/cli"
Just today Angular CLI changed the package name to `@angular/cli` instead of `angular-cli`.

It looks like `angular-playground` makes the assumption that the package `angular-cli` is installed.

https://github.com/SoCreate/angular-playground/blob/9f1a790cfa0499a6cfc7c7088a5cb110da2ce226/src/cli/run-angular-cli.ts#L7

As that package will be deprecated soon, and `angular-playground` just got releas

[2017-02-02 14:21] jschwarty commented on #4
Thanks for letting us know. I will update the code to support this scenario and publish an update here in a bit.

[2017-02-02 14:23] jschwarty commented on #3
Thanks for the detailed info! Will bust out my Mac and try and reproduce this so I can get it solved. 😎

[2017-02-02 18:22] jschwarty commented on #4
Support has been added in version 1.1.6 which has been published and available to npm. See [changelog](https://github.com/SoCreate/angular-playground/blob/master/CHANGELOG.md#116--2017-02-02) for more info.

[2017-02-02 18:22] #4 closed

[2017-02-02 18:24] beeman commented on #4
@jschwarty thanks for the quick fix, will test it tonight!

[2017-02-03 02:37] jschwarty commented on #3
I think I tracked this down (thanks to your detailed info)! Working on a fix.

[2017-02-03 03:47] jschwarty commented on #3
Fixed and published as **1.1.7**. See [changelog](https://github.com/SoCreate/angular-playground/blob/master/CHANGELOG.md) for details.

Thanks @beeman!

[2017-02-03 03:47] #3 closed

[2017-02-03 04:57] elwynelwyn opened #5 "Module not found: Error: Can't resolve 'sandboxes' in 'C:\foo\node_modules\angular-playground\dist\src\app'"
Hey, cool project!

I've set this up in my project following your getting started instructions.
It is successfully creating `sandboxes.ts` at `./src/sandboxes.ts`.
However when I try run, I get the following:

[code]

Here is my `angular-playground.json`:

[code]

It seems as though inside `PlaygroundModule` it tries to provide via `loadSandboxes`, which does `require('sandboxes').default`. What i

[2017-02-03 05:38] jschwarty commented on #5
Hmm, random guess...maybe the path in the alias (does it need to start with ./src)? I will look into setting up a sample scenario tomorrow and see if I can find an answer.

[2017-02-03 06:08] elwynelwyn commented on #5
Sorry, that wasn't super clear. `root()` is a helper function that does a `path.join(__dirname, somePath)`, so I think that path is correct. If I `console.log` it, it has resolved the correct full path, and it's working for other aliases I have setup.

For reference, my environment is based on this repo:
https://github.com/qdouble/angular-webpack2-starter

(alias setup right at the bottom of `webp

[2017-02-03 07:26] beeman commented on #3
Awesome @jschwarty, thanks for the quick fix! Glad this issue has been useful 👍

[2017-02-04 04:03] jschwarty commented on #5
Got it!
[code]
The `sandboxes.ts` file is in `src` and not `src/app`. Let me know if that works for you. You were on the right track! :)

[2017-02-04 04:11] jschwarty commented on #5
We will update the docs site to show how to add the resolve for those using webpack and no Angular CLI. Thanks for inquiring about this @elwynelwyn, will help to lead to better docs! 👍

[2017-02-06 20:07] #5 closed

[2017-02-07 02:13] elwynelwyn commented on #5
Doh - thanks!

[2017-02-10 21:58] jschwarty opened #6 "Add z-index for command bar"
Need to add a z-index or something to make the command bar always on top of the component being rendered.

[2017-02-11 18:55] jschwarty commented on #6
Fixed with [3c258de](https://github.com/SoCreate/angular-playground/commit/3c258de)
Published in `1.1.8`

[2017-02-11 18:55] #6 closed

[2017-02-14 10:50] ThomasDeutsch opened #7 "Missing Discoverability"
First, thanks for your work on angular-playground. I was looking for a DEVCARDS solution in angular2-land.

As far as i can tell, there is no solution for some basic needs:
- i can not easily discover what compoments i have sandboxed.
- i can not easily view the same sandboxed component in its different states.

To solve this, i would like to create a component that can host multiple sandboxed com

[2017-02-15 16:11] jschwarty commented on #7
Hey @ThomasDeutsch! Thanks for the props. :)

**First, some back story...**

When we developed Playground we thought long and hard about the UI (or lack thereof) and usability. We needed a tool that allowed us to work a single component in isolation, staged to put it in a specific state. This tool would help us as we work on building out a component and refactoring/adding to it into the future. We

[2017-02-16 08:16] ThomasDeutsch commented on #7
I agree, i would suggest that approach one ist a good solution, too.

There is a solution that Playground needs to beat:
- creating a html page
- add component to page

And that is basically, what Playground does.
If you want to have your component on a single page, you do not need to create a new html file.

For approach two, you will get on a very slippery slope, simply because it is impossible

[2017-02-18 00:17] jschwarty commented on #7
Added deep linking and embed mode support to Playground in version `1.2.0`. Also added an example app in the repository of consuming embeds and deep linking.
<https://github.com/SoCreate/angular-playground/blob/master/CHANGELOG.md#120-2017-02-17>

[2017-02-18 00:17] #7 closed

[2017-02-20 18:30] jschwarty opened #8 "feat: Add anchor to tab into screen"
Need to provide a tab target so when a "keyboard warrior" changes focus to the browser that there is a way for them to tab into the viewport so the Playground shortcuts can be picked up. Right now, if you keyboard back to the browser there is no way to keyboard into the viewport (to give it focus), therefore you can't use the Playground keyboard shortcuts without clicking on the viewport first.

[2017-02-20 20:24] jschwarty opened #9 "feat: add support for production build minification"
Right now you can make use of `ng build` with the AngularCLI to build an instance of the Playground that can be served up separate from the dev process. But, when using the `--prod` flag the minification/uglify process runs and the sandboxed component names, which come from the type, are converted. So they show up in the command bar as a single character for the component type name.

Not sure yet

[2017-02-22 21:51] isaacplmann opened #11 "Angular cli beta.31+ breaks playground"
With `@angular/cli@1.0.0-beta.31` or `@angular/cli@1.0.0-beta.32.3`, when you run `angular-playground angular-playground.json`, you get the following error message:

[code]

Running `npm start` works just fine.

I reproduced by taking your `example-app-angular-cli`, updating the `@angular/cli` version and running `npm i && npm run playground`.

Thanks.

[2017-02-22 23:42] jschwarty commented on #11
Hi @isaacplmann! We have a note in the [Changelog](https://github.com/SoCreate/angular-playground/blob/master/CHANGELOG.md#notes) about this issue. Once Angular CLI goes to `RC0` they should have the support for multiple apps added and we will update the docs to show how to do that for Playground. This will eliminate the error. But for the time being you will need to stay on `1.0.0-beta.30` or mak

[2017-02-22 23:44] jschwarty opened #12 "feat: add up arrow support from command bar text box"
Add the keybinding for the up arrow to the text box to be able to cycle to the bottom in the list. Right now, all you can do is go down to start. Might not be needed, but I find myself hitting the up arrow (guess I do that in other IDE's/editors so it is muscle memory).

[2017-02-24 20:14] isaacplmann commented on #11
Thanks for letting me know.  It would probably be good to mention this issue in the documentation somewhere too.  Or you could just leave this issue open until RC0 drops.

[2017-02-24 20:53] jschwarty commented on #11
I was debating on adding it to the docs site but I think this fix is really close to being available (it has been [merged into AngularCLI master](https://github.com/angular/angular-cli/pull/4754) already). Hopefully that will be on npm soon and I can update the docs to have the instructions on how to use it with the latest version :)

[2017-02-27 18:10] isaacplmann commented on #11
I'm excited to use angular cli rc.0, but the error still occurs with the latest version.  I'm assuming I need to define a separate app with an entry point that references PlaygroundModule instead of AppModule.  I'll work in that direction and let you know if I make any progress.

[2017-02-27 18:46] isaacplmann commented on #11
I got it working and then found your `angular-cli-rc.0` branch on github.  I'm doing the same thing, except I had to add `<ap-root></ap-root>` in the `index.html` (or reference a custom `index.playground.html` with `<ap-root>`).  Are you able to make it work without that step?  Or are you handling it in a different way?

[2017-02-27 18:51] jschwarty commented on #11
I just merged that into master and am working on pushing a release out to npm. Here is a link to the example app for angular cli in the code base that shows how to setup the app in the `.angular-cli.json` file:

https://github.com/SoCreate/angular-playground/blob/master/example-app-angular-cli/.angular-cli.json

[2017-02-27 19:06] isaacplmann commented on #11
I needed to add `<ap-root>` to `index.html` because I wasn't calling `initializeSandbox('ng-app')` in the `main.playground.ts` file.  Looks good in your demo app, now I just need to get it to work in my real app.

[2017-02-27 21:08] jschwarty commented on #11
Published version `1.3.0`
https://github.com/SoCreate/angular-playground/blob/master/CHANGELOG.md#130-2017-02-27

[2017-02-27 21:18] isaacplmann commented on #11
Working for me.  Closing.

[2017-02-27 21:18] #11 closed

[2017-02-27 21:21] isaacplmann opened #14 "PlaygroundModule is not an NgModule"
When I run `angular-playground`, the first build always fails with a message "PlaygroundModule is not an NgModule".  If I save any file, webpack rebuilds successfully.

This is a minor annoyance when running `angular-playground` because it automatically triggers a rebuild.  When you run with `-no-serve` and manually run with `ng serve -a playground` you have to know to save a file manually in orde

[2017-02-27 21:28] isaacplmann opened #15 "Feature Request: declareComponent flag"
I'd like the option to pass a string instead of a component to the sandboxOf function so that it wouldn't automatically declare the component.  I have a bunch of shared ui components that depend on each other and I'd like to just import the whole SharedModule in my sandboxes.  If I do that, however, the component that I'm sandboxing is declared in the HostModule and the SharedModule, which is a no

[2017-02-27 21:29] jschwarty commented on #14
I noticed that and I think this might be an issue in AngularCLI that is
causing this. I am going to investigate it further this afternoon and let
you know!

On Mon, Feb 27, 2017, 1:21 PM isaacplmann <notifications@github.com> wrote:

[2017-02-27 21:35] isaacplmann opened #16 "feat: Show Scenario Config"
I'd like to add an html5 `<details>` element has the option to "Show Scenario Config".  When expanded, it would display a pretty-printed version of the scenario configuration - template, context, styles, etc.  This would be helpful for people using `angular-playground` to get code samples.

If you like the idea, I can submit a PR.

[2017-02-27 21:36] isaacplmann commented on #16
We could potentially hide this behavior behind a flag somewhere, if you don't want it to be the default behavior.

[2017-02-27 22:38] jschwarty commented on #15
Yes, I can see where that's needed.

We talked about this here at our team and think that a good way to handle this would be to update the `SandboxOfConfig` to have a property named `declareComponent` that would be true by default. This would allow for people to pass that in as false in the case that you describe, or just leave off in the default case. It would also allow for us to keep the strong

[2017-03-01 03:52] jschwarty commented on #14
Looks like this is due to the fact that the Angular CLI code (probably @ngtools/webpack more specifically) is reflecting on the bootstrap code and the entry module and trying to "reflect" through the TypeScript code. The Playground app code is transpiled before publish, so it is delivered on npm install as JavaScript. We can fix this by delivering the TS files for the `app` folder code of Playgrou

[2017-03-01 18:13] #14 closed

[2017-03-01 18:38] jschwarty commented on #16
Sorry I haven't got back to you on this yet. I need to make some time to digest this one. Will try and do that this evening. :)

[2017-03-01 21:00] isaacplmann commented on #15
Working on a pr now

[2017-03-02 00:06] jschwarty commented on #15
Published `v1.4.0` with this change.

[2017-03-02 00:06] #15 closed

[2017-03-02 14:40] isaacplmann commented on #16
Here are some pictures, so you can see what I'm talking about:

Collapsed:
![screen shot 2017-03-02 at 9 36 00 am](https://cloud.githubusercontent.com/assets/861504/23511639/cadd7b96-ff2b-11e6-963c-49eead03e049.png)

Expanded:
![screen shot 2017-03-02 at 9 36 18 am](https://cloud.githubusercontent.com/assets/861504/23511666/ec582afa-ff2b-11e6-9c63-4d8b669ada33.png)

Breaking up the config into mul

[2017-03-04 18:46] jschwarty opened #19 "Create a plugin system"
Initial concept:

Have a way to pass in plugins as `NgModule` classes to the `initializePlayground()` function. Also have a way to pass in `header` and `footer` template strings that could have components from the `NgModule`. This could allow for including rendering custom stuff around the sandboxed components. And these would get applied to each isolated view so you don't need to add it to each `

[2017-03-04 18:49] jschwarty commented on #16
What we'd like to do is keep the Playground app as lean as possible in it's default state. We explained our approach to the Playground in [this thread](https://github.com/SoCreate/angular-playground/issues/7) to try and explain how we use the tool in our workflow and to define how we want to approach it's usage and it's growth going forward.

Since then we have added the embed and deep link abilit

[2017-04-04 16:56] m0t0r opened #23 "Unable to use with latest angular cli"
Hello,

Thank you for the project, looks very interesting, unfortunately I cannot run playground app with latest `@angular/cli`.

I am getting the following errors:
[code]
I have `angular-playground.json` (/src/angular-playground.json)
[code]
I created sandboxes folder in `demo-app/src/app/sandboxes` and placed `hello-world.component.sandbox.ts` with

[code]
but getting the errors above.

Thanks

[2017-04-04 17:29] m0t0r commented on #23
I got it working. I had to add `declare var require: any;` to `src/typings.d.ts` as mentioned [here](https://github.com/angular/angular-cli/issues/2221).

[2017-04-04 17:29] #23 closed

[2017-04-04 20:02] jschwarty commented on #23
Great! I will work on updating our docs to mention that. 😎

On Tue, Apr 4, 2017, 11:29 AM Vitaly <notifications@github.com> wrote:

[2017-04-05 07:29] ThomasDeutsch opened #24 "unable to get a production build"
when i run „ng build --target production --aot“.
I will get some errors regarding the template from angular-playgrounds AppComponent.

What am i missing here?

[code]

[2017-04-08 21:48] jschwarty opened #25 "Add example of inline component in sandbox file"
Show how fast it is to get a component written and on the screen. Time to component (ttc). Create component within `.sandbox.ts` file.

[2017-04-12 20:33] jschwarty commented on #24
So in the `tsconfig.app.json` file you need to exclude `sandboxes.ts`:
[code]
Might need to exclude `*.sandbox.ts` as well. I will work on getting the docs updated to have this info in there.

Sorry that it took a long time to reply to this. :( I was swamped with ngconf and travel and such.

[2017-04-13 06:59] ThomasDeutsch commented on #24
i specified the files
[code]
in the tsconfig.app.json.
now, the production build is working.

Maybe the problem is, that my playground is a separate angular app (specified in angular-cli.json). Because of this, i have two main modules. Only the app module is now referenced in the files section of the tsconfig.app.json.

[2017-04-13 06:59] #24 closed

[2017-04-13 13:39] jschwarty commented on #24
Yeah, we have the same cli setup on our app and I sww the same error. I
will try out your setup. Thanks!

On Wed, Apr 12, 2017, 11:59 PM Thomas Deutsch <notifications@github.com>
wrote:

[2017-04-13 20:46] cgatian opened #26 "feat: Add F1 as supported Key to open Command Bar"
VSCode uses F1 for their Command Pallete, and it's become second nature for me.  CTRL+O works, but wanted to see your thoughts on adding F1 as well.

[2017-04-13 21:26] jschwarty commented on #26
Yes, have been thinking about adding key customization. Here are my initial thoughts on implementation:

- Needs to support per user, so if you have Playground in a repo for multiple devs then each dev could somehow override the key settings to match what they want.
- Needs to have a way to have defaults and a way to easily reset to defaults.

I think what I'll do is add F1 (and maybe WebStorm's "

[2017-04-13 22:02] jschwarty commented on #8
Found out this can be done with `F6` in Chrome. Going to close this one down as it is probably not something we can incorporate in Playground.

[2017-04-13 22:02] #8 closed

[2017-04-13 22:20] jschwarty commented on #26
Added support in [d79adaa](https://github.com/SoCreate/angular-playground/commit/d79adaad7b7924fd80efa705903f0fc5058bb183)

[2017-04-13 22:20] #26 closed

[2017-04-13 22:21] jschwarty commented on #12
Added support in [63fbea1](../commit/63fbea198dff8a8f06888d6a42d0f4519003a451)

[2017-04-13 22:21] #12 closed

[2017-04-13 22:31] jschwarty commented on #25
Added in [bcd4214](../commit/bcd4214768ebc0099dd164335d697f0c74a5e72c)

[2017-04-13 22:31] #25 closed

[2017-04-13 23:31] jschwarty commented on #9
Added support for this in [4aecc19](../commit/4aecc19543ed1bafb4a1a9190e7fb8b13207294f)

[2017-04-13 23:32] #9 closed

[2017-04-18 19:20] cgatian opened #28 "Include additional modules though the PlaygroundModule"
@jschwarty I don't know if angular-playground should be responsible for adding the animation module.

https://github.com/SoCreate/angular-playground/blob/4aecc19543ed1bafb4a1a9190e7fb8b13207294f/src/cli/build.ts#L12

It would be convenient if the PlaygroundModule could accept an array of modules it would import for each scenario.  Currently, I create a shared/common module and then import this in

[2017-04-18 20:06] jschwarty commented on #28
I agree, I'm not a fan of it...but to use the animations module you have to import it in your entry module (or where ever you have `BrowserModule` because it imports `BrowserModule` (and not `CommonModule`). So you can't import it at the sandbox level because Playground is already importing `BrowserModule`.

Providing a way to add to the `PlaygroundModule` is something I was thinking through but w

[2017-04-18 20:10] cgatian opened #29 "HMR With Angular-Playground"
@jschwarty Wanted to get your thoughts on a wiki entry, or perhaps adding to PlaygroundModule.

Recently I migrated over to using this library. One of the downsides to using it was the inability to get HMR working with it.
One of the most common loaders for adding HMR is [AngularClass/angular2-hmr](https://github.com/AngularClass/angular2-hmr).  This loader requires you to have access to the AppMo

[2017-04-25 12:43] chapati23 opened #30 "polyfills missing from angular-cli config"
Just tried following your set up guide and stumbled about an error. In the demo `.angular-cli.json` config in the docs you're missing the polyfills http://www.angularplayground.it/docs/getting-started/angular-cli

Needs to have the polyfills:

[code]

[2017-04-25 13:55] chapati23 opened #31 "npm module shouldn't include *.ts files"
is including *.ts files in the dist/ necessary for the npm module to function?

because it has some negative side effects:
• `ng lint` will pick up angular-playground files from within node_modules (can be overcome with manually excluding node_modules in `.angular-cli.json`)
• `ng build --aot` will fail due to errors in `node_modules/angular-playground/dist/src/app/app.component.ts.AppComponent.ht

[2017-04-25 14:24] chapati23 commented on #31
i see this is related to https://github.com/SoCreate/angular-playground/issues/24

i also had to specify the "files" array in my tsconfig.app.json to get the --aot builds to work again:

[code]

[2017-04-25 15:49] jschwarty commented on #30
Thanks! Updated the docs site. [87e19ba9](https://github.com/SoCreate/angularplayground.it/commit/87e19ba9b38dd0febc874119488458ddb81fcf4e)

[2017-04-25 15:49] #30 closed

[2017-04-25 16:01] jschwarty commented on #31
Ended up needing to deliver the TS files to make it work with one of the releases of the @ngtools with the Angular CLI that was complaining on the AoT precheck run. I would like to not have to deliver those. Just need to get some time to look into that and see if it is still an issue and if there is a way around it.

[2017-04-26 06:26] chapati23 commented on #30
👍

[2017-05-03 12:29] cgatian commented on #29
I stumbled upon another repo where @jschwarty actually does something very similar to boostrap the HMR, and here I thought I'd pieced together something unique! 😞

[2017-05-03 12:29] #29 closed

[2017-05-03 15:02] jschwarty commented on #29
@cgatian Your journey to discovering a solution was unique! And that is just as important :)

[2017-05-08 18:41] cgatian opened #32 "Allow passing providers to PlaygroundModule"
Angular allows you to override the `ErrorHandler` service with your own implementation.  However, only the [app root](https://github.com/angular/angular/blob/71f5b73296708014b740fb5dd0145c0599de7a19/packages/core/src/application_ref.ts#L297) can provide this override.  Since PlaygroundModule is the `app root`, it's not possible to provide an override for the `ErrorHandler` service.

I believe the

[2017-05-08 20:07] jschwarty commented on #32
This kinda falls under the same case as #28. Looks like Playground needs this for multiple reasons. :) Will think about a way to approach this...

[2017-05-08 20:08] jschwarty commented on #28
This will get taken care of when #32 gets done. Closing this and referencing it in there.

[2017-05-08 20:08] #28 closed

[2017-05-09 15:48] jschwarty opened #33 "Add support for more NgModule metadata props in SandboxOfConfig"
Add entryComponents and schemas.

[2017-05-10 14:09] cgatian commented on #32
Sounds good. If you come up with a plan, post her here. I don't mind making the PR.

[2017-05-19 00:06] cgatian commented on #32
In the short term, couldnt we pass providers to the module using a static method?
[code]

[2017-05-19 01:42] jschwarty commented on #32
Yeah that might be an approach.

[2017-05-23 18:58] cgatian opened #34 "AppComponent section element z-index"
The `section` element is given a z-index of 1.  Is this actually necessary?

 [line of code](https://github.com/SoCreate/angular-playground/blob/efdacb636e020368368af15a7c42e7b5d086a0f9/src/app/app.component.ts#L107)

Reason for removal: Other dev tools such as the [hammerjs-touchemulator](https://github.com/hammerjs/touchemulator) append themselves to the DOM as the last child to the body. Typica

[2017-05-23 19:28] jschwarty commented on #34
It's used to keep the command bar above the component render zone.

[line of code](https://github.com/SoCreate/angular-playground/blob/efdacb636e020368368af15a7c42e7b5d086a0f9/src/app/app.component.ts#L23)

So we need to be able to keep that command bar on top of the sandboxed item in some fashion. Maybe a container wrapper around both that wouldn't have a z-index so other things added to DOM won'

[2017-05-23 19:36] jschwarty commented on #32
@cgatian If you have any thoughts on a way to pull this off it'd be cool to see. :) The goal would be to try and either leverage the existing config or file stuff and not have to have the user add another file to their project to get this included. But that may end up being the only way.

Here are the goals I think would be good to hit:
- Keep it in code (imports and typings can be used rather tha

[2017-05-23 19:43] cgatian commented on #34
I understand the purpose, I just don't think it's actually necessary. _I think_ 🤔

I agree the command bar should have a z-index applied, but the section elements should the default z-index of `auto` such that they use the stacking order of the document.

Removing the z-index on the section doesn't seem to have any rendering issues with the command bar.  Is there a specific case I'm missing?

[2017-05-23 20:15] jschwarty commented on #34
Gotcha... That one may be okay to remove. I think there is a component in
the example app angular cli that tests that scenario.

On Tue, May 23, 2017, 12:43 PM Chaz Gatian <notifications@github.com> wrote:

[2017-06-20 20:26] oh-wo-dk opened #35 "Import css/scss from external files as well as strings in typescript"
## Idea
* Ability to import css/scss from external files and add them to the `styles?:[string]` parameter of `ScenarioConfig`, e.g. something like:

[code]

[2017-06-20 20:31] #16 closed

[2017-06-22 18:24] jschwarty commented on #34
Fixed in PR #36 and will be available in upcoming release 1.7.0

[2017-06-22 18:24] #34 closed

[2017-06-22 18:27] jschwarty commented on #32
Fixed in PR #36 and will be available in upcoming release 1.7.0

The core Playground stuff got moved into a NgModule named `PlaygroundCommonModule` that can be imported and used in a user's own custom module you create in their project, allowing them to set other imports, providers, etc at the root NgModule level as needed. The `AppComponent` for Playground was added to the exports as well so it c

[2017-06-22 18:27] #32 closed

[2017-06-22 19:54] jschwarty commented on #31
Fixed in commit [d64ebf3](https://github.com/SoCreate/angular-playground/commit/d64ebf3842ff9b78dd21ad8f92a880bcfbe1f96b)

Will be available in release 1.7.0

[2017-06-22 19:54] #31 closed

[2017-06-27 14:42] cgatian commented on #32
Thanks @jschwarty. I like the approach you ended up with. Much better than a static function.

[2017-06-29 12:57] kpaxton opened #37 "Proxy configs"
Add in a proxy configuration option.

Currently when I try to pass in ```--proxy-config proxy.js``` to the ```angularCli.args``` option in the angular-```playground.json``` I get a line in the console saying ```The option '--proxy-config proxy.js' is not registered with the serve command ...```. Our ng serve command in our package.json has exactly the same option passed in and it works.

If I sepa

[2017-06-29 13:01] kpaxton opened #38 "Remove Styling from <Section> element"
The section tag's background-color is set to white which currently overrides our global styles that are imported in the playground.

The only styles that should be applied to the <section> element should only be structural to ensure it takes up the full screen.

[2017-07-04 02:09] AlDrag opened #39 "Custom Parent Component and service"
I am trying to sandbox a large component. It requires a parent component to input it data as well as angular service. It needs to pass the service as an input to the component template. How can this be done?

[2017-07-04 03:45] jschwarty commented on #39
**my.component.sandbox.ts**
[code]

Right now there is no other way to do this in Playground. It's not really something that has come up since most service architecture is handled via the dependency injection pattern in Angular applications.

[2017-07-04 03:49] AlDrag commented on #39
Sorry if I am overlooking this, but that solution doesn't work with injectables right? As I need an Angular Injectable service.

[2017-07-04 03:52] jschwarty commented on #35
Yes, if you leveraged Webpack you could probably accomplish something like what you have here. Similar to how some seed projects leverage `require(templatePath)` to do inline templates. Would probably be something outside of the scope of what Playground is trying to provide as it starts to depend on the implementor's build setup and supporting different cases.

[2017-07-04 04:01] jschwarty commented on #39
Do you have an example you could post in here that I can look at?

Right now I can't see a way to be able to get a hold of an injected service (instantiated by Angular) and then hand it to the sandboxed component via an `Input`. If that sandboxed component got the service from constructor injection then you could `provide` that service or a mock of it at either the `sandboxOf` or the `add` method

[2017-07-05 09:35] faroutchris commented on #38
I want to add that the CSS rules for the body and font family also overrides the global styles in my project as well.

[2017-07-06 04:12] AlDrag commented on #39
I solved it. Just decided to make a mock service as you suggested.

[2017-07-06 04:12] #39 closed

[2017-07-11 16:22] m0t0r opened #40 "Getting an error when trying to use setTimeout"
Hi,

I would like to have ability to set timeout for the input data of the component so I can see loading state. When I am trying to use `setTimeout` on `context` I am getting the following error:

[code]
I tried to create a mini mock service which uses `setTimeout` and then use it in the `context` but getting the same error.

I am using `angular-playground` with Angular CLI.

[2017-07-13 02:15] jschwarty commented on #40
Can you post an example of your `stats-widget.component.sandbox.ts`?

[2017-07-13 02:23] jschwarty commented on #37
What if you try:
[code]

[2017-07-13 10:56] kpaxton commented on #37
@jschwarty I just tried it. Still have the same issue of ```process.stdin.setRawMode is not a function```.

[2017-07-13 15:59] m0t0r commented on #40
Hi, @jschwarty, thanks for your reply. It's working fine now, I was doing something wrong.

Will leave a working example here as a reference:

[code]
but there is _another problem_. When I switch between sandbox cases using quick search it looks like all cases are already run so I have to refresh page to actually rerun and see the delay I need. Is it possible to run each sandbox case only when you

[2017-07-13 16:07] jschwarty commented on #40
@m0t0r You can leave this one open. I will use what you posted to take a look at the issue you are experiencing and get you an answer on that. I might not be able to get to it today but I will get back to you soon on it.

[2017-07-13 16:14] m0t0r commented on #40
@jschwarty that's fine, thanks a lot!

[2017-07-24 14:38] m0t0r commented on #40
@jschwarty, do you have any updates ?

[2017-07-25 16:43] jschwarty commented on #40
It's because you have an IIFE there, and the `*.sandbox.ts` file gets ran as soon as you choose any of the scenarios for that sandboxOf component. So that code is getting run once in that file when the `sandboxOf` function is called.

You could create an accessor so that it is called on execution:
[code]

[2017-07-25 22:08] m0t0r commented on #40
Yeah, that works fine. Thanks a lot!

[2017-07-25 22:08] #40 closed

[2017-08-05 21:46] Hosar opened #42 "help wanted: How to load bootstrap.css into sandboxes"
Hello, thanks for this amazing component.
How can I load bootstrap.css into sandboxes? I have installed it and added to angular-cli.json but I was unlucky.

The only way I could find, was to add it to the component  styleUrls.

Thanks in advance.

[2017-08-17 11:20] alexborisov opened #43 "Merge efforts with Storybook"
[Storyboo](https://storybook.js.org) is currently working on support for [Angular 2](https://github.com/storybooks/storybook/tree/269-angular-support). Perhaps you should combine efforts? There are a lot of things todo with playground that are already there in storybook (like plugins).

[2017-08-17 19:47] JustinCouto commented on #43
Hey Alex,

Thanks for reaching out man!  It's much appreciated.  When developing playground, we definitely took inspiration from Storybook.  We think what you guys are doing is great.  For us, playground is an internal tool we use and the goal of the project is to keep it as lightweight as possible.  We think what we are doing is super useful and we wanted to share it with the community.  We plan

[2017-08-21 19:17] jschwarty commented on #38
Resolved in version `1.7.1` release.

[2017-08-21 19:17] #38 closed

[2017-09-06 22:09] mgmarlow commented on #42
@Hosar I was able to bring bootstrap into a sandbox component by adding it to the `styles` section for the playground app within the `angular-cli.json`:

[code]

[2017-09-07 19:33] Hosar commented on #42
@mgmarlow Thanks a lot!

[2017-09-08 19:13] #42 closed

[2017-09-22 09:17] CedricDumont opened #48 "WARNING in Circular dependency detected"
step to reproduce,
I created a simple angular Cli (1.4.2) project and generated a **note** component.
configured as explained in the doc.
added a *note.component.sandbox.ts* file with the following

[code]

when running
*yarn playground*

in the console, I have
[code]
and when browsing  to http://localhost:4201/

the page displays:

When I hit F1 I got the dialog,
but when typing "simp..." the dia

[2017-09-22 09:19] CedricDumont commented on #48
for more info if ever needed
the generated *sandboxes.ts*

[code]

[2017-09-30 00:25] lurock commented on #48
Try using the 2.x version just released and see if you are still having issues.

[2017-09-30 00:25] #43 closed

[2017-09-30 00:30] #35 closed

[2017-09-30 16:03] CedricDumont commented on #48
I have updated, now I have this error showing up from ng serve:
ERROR in ..../src/sandboxes.ts (7,8): Expression expected.
ERROR in /.../src/sandboxes.ts (7,14): Unreachable code detected.
ERROR in /...../src/sandboxes.ts (7,70): Property 'then' does not exist on type '"./app/command-input/command-input.component.sandbox"'.

I just created a new fresh project (ng client project), then followed ins

[2017-10-02 18:38] lurock commented on #48
This error is caused because the new version of Angular Playground 2.0.0 or higher requires you use Typescript 2.4 or higher.  Change your devDependencies for typescript to be version 2.4.x or higher and this should resolve your issue.  We are updating or docs and will have a requirements page up on the web shortly.

[2017-10-05 23:01] perseus086 commented on #48
After upgrading to typescript 2.4.2 I got the following error:

`.../map/src/sandboxes.ts (7,8): Dynamic import cannot be used when targeting ECMAScript 2015 modules.`

How can I solve this issue?

[2017-10-06 09:26] CedricDumont commented on #48
I also upgraded to typescript 2.4.2 and using the very last angular cli and still same error as @perseus086

[2017-10-07 17:07] mgmarlow commented on #48
@perseus086 @CedricDumont Can you double-check that your `tsconfig.app.json` has an entry for `"module": "esnext"`?

Example:
[code]

[2017-10-10 15:26] perseus086 commented on #48
Adding `"module": "esnext"` fixed the issue.

Thank you @mgmarlow 😃

[2017-10-10 15:54] #48 closed

[2017-10-11 14:47] tobiaghiraldini opened #58 "Installing playground as a project dep (without -g options) does not create the command alias"
When I install the library without the global (-g) option:

[code]
I can see that the library is added to node modules, but no angular-playground command is created and linked to the ./node_modules/angular-playground/dist/bin/cli.js

On the other hand, adding the -g option (installing it globally, which maybe is not what you want), the alias gets created

[code]

[2017-10-13 16:21] mgmarlow commented on #58
@tobiaghiraldini I'm not sure I'm understanding this issue. When you install the package to your local project there should be no global alias set up for the command. Instead, there is a `node_modules/.bin/angular-playground` entry available for local project use.

[2017-10-13 16:49] tobiaghiraldini commented on #58
I see.
There is the command entry in the local node_modules/.bin indeed, but it’s not working in my installation for whatever reasons. Other commands, such as “ng” and others are recognized by the bash.
Maybe is just an overlook on my side, but maybe the docs should say to use the node_modules/.bin/angular-playground command. Or is there anything I can do to make the command to be recognized?

[2017-10-13 16:54] mgmarlow commented on #58
Sure, the idiomatic way to handle local CLIs with npm is to add an entry to your `package.json` and call it using npm scripts.

`package.json`:
[code]

With the above entry added to your `package.json` you can run it via `npm run playground`. This will use the locally installed instance of whatever package instead of the global.

[2017-10-13 16:57] tobiaghiraldini commented on #58
Ahh. That’s great. Thank you for your help. I’ll try to configure it this way and I’ll close the issue eventually!
cheers

[2017-10-13 17:34] mgmarlow commented on #58
Sure thing. If you run into any other issues I'd try clearing out your project's `node_modules/` and re-installing. I'll add the process for running the project to the docs.

[2017-10-16 23:22] #58 closed

[2017-10-31 15:02] wake42 opened #59 "Sandboxing components from a soft link location"
I have a git project that contains a packages directory with different modules that are used to build a component library with ng-packagr and lerna.

Outside of that directory I have an "documentation web" that has a symlink to the directories in packages where the components are. Like this:

[code]

I'm trying to get Angular playground in the doc-web to recognise the component sandboxes in my pac

[2017-10-31 20:42] JustinCouto commented on #59
Hi There,

Unfortunately, we don't have an easy way to replicate your environment.  The issue probably has something to do with the way symbolic links are followed.  If you are able to figure it out a work-around and would like to submit a pull request, we'd love the help.

[2017-11-02 20:34] stckcrsh opened #60 "Internet explorer problems"
We have been using the playground for a little bit on our macs, but recently we needed to do some testing on internet explorer and while the playground compiles and runs we cant use it because both `ctrl + o` and `F1` are reserved key commands and make it so the app is unusable.

To get this to work we had to go in and change the app to use `F2` instead.

Can you please look into adding atleast on

[2017-11-03 23:25] JustinCouto commented on #60
Hi There,

We are a little unclear on what you are doing.  How are you accessing Internet Explorer on your MAC?  Are you doing this by booting into Windows through something like Boot Camp or are you using something like Parallels?

Please help us better understand your issue better.

Thank you!

[2017-11-07 00:51] stckcrsh commented on #60
We are using virtualbox to run a windows machine and testing the code there.
The playground runs great but internet explorer uses f1 and ctrl + o as
reserved key commands so we could not get the search bar to open inside the
playground.

We made a workaround of just going in and editing the code to instead use
the f2 key which worked well.

On Fri, Nov 3, 2017 at 6:25 PM, Justin Couto <notificatio

[2017-11-07 20:52] JustinCouto commented on #60
Thanks for the info.  We are looking into the possibility to add another shortcut that would work for your issue.  We appreciate your feedback.

[2017-11-07 22:07] mgmarlow commented on #60
I have  a PR out to fix this: #62

[2017-11-09 17:45] lurock commented on #60
This should be resolved now by changing the shortcut keys to F2 and CTRL+P.

[2017-11-09 17:45] #60 closed

[2017-11-14 06:21] cjhooker opened #63 "Requirements still say Angular 4.2 or above required"
Just a minor documentation issue.

On the Requirements page (http://www.angularplayground.it/docs/getting-started/requirements) it says:

but it looks like Playground 2.3.0 now requires Angular version 5.0 or above.

[2017-11-14 18:37] mgmarlow commented on #63
Good catch. Thanks for pointing that out.

[2017-11-16 03:36] lurock commented on #63
Updated! Thank you.

[2017-11-16 03:36] #63 closed

[2017-11-29 05:45] ball6847 opened #67 "Not works with monorepo."
angular-playground only looks for ng bin in node_modules of current working directory.

https://github.com/SoCreate/angular-playground/blob/0d6436a6671997e2e13ae84a7e71f25b6f2f0c10/src/cli/run-angular-cli.ts#L13

On monorepo, with tools like Lerna or yarn workspace, the ng cli could possibly installed on somewhere else, so, looking for ng cli only in current working directory might not be a good d

[2017-11-29 19:28] JustinCouto commented on #67
Thanks so much for the input.  We are currently working on the V3 release of Playground and are looking into addressing the issues you describe.  We are hoping to release this next version soon, so please stay tuned.

[2017-11-30 22:15] mgmarlow opened #69 "feat: Support Multiple Check Errors Build Exports"
`--check-errors` only supports console logging to handle reporting errors. Add the ability to provide a `--build-type` to export a build file with a more detailed description of errors.

[2017-12-01 18:57] #59 closed

[2017-12-02 00:49] mgmarlow commented on #69
Added in #68

[2017-12-02 00:49] #69 closed

[2017-12-02 01:18] mgmarlow commented on #67
Following your suggestion, the Angular CLI path is now exposed as a configuration argument.
[code]

[More info](http://www.angularplayground.it/docs/api/configuration)

[2017-12-06 16:42] #67 closed

[2017-12-14 15:06] fengfranklu opened #72 "Two way binding not working in sandbox"
Thanks for sharing this great tooling. I really like the idea and trying to get it up and running for my project. I started by experimenting on the simple angular tutorial Heros app.  Stuck on the step four two way binding. To use angular two way binding you need to import FormsModule from Angular. There is no mention in your tutorial of where to input this module. Dig into angular-playground sour

[2017-12-14 19:10] mgmarlow commented on #72
Thanks for trying out Playground! It's hard to diagnose the issue you're having without looking at the exact error. That said, I noticed a few things about your sample code that may explain the issue.

Setting up a custom Playground module should only be used for modules that can only be imported once, the `BrowserAnimationsModule` being a perfect example of that. On the other hand, `FormsModule`

[2017-12-14 20:09] #72 closed

[2017-12-19 20:07] mgmarlow opened #73 "CLI Schematics"
Create a CLI schematics package for Playground to add easier project structuring and templates for sandbox files.

https://github.com/angular/devkit

[2017-12-21 13:04] Anufriev opened #74 "feature request: add ability to open dialog with components without hotkeys"
I need to open it on iPad. I don't know how to do it.

[2017-12-22 01:23] JustinCouto commented on #74
Hi There,

First of all, Thanks for your input.  You are not the first request for a UI way to access Playground's toolset and I am happy to tell you we are working on a way to make it happen.  The reason we currently don't have any UI is because we don't want our Playground App UI to interfere with your component's UI.  With that being said, we came up with a way that we think should work well an

[2017-12-30 21:46] cburgmer opened #76 "Compiler error on initial install"
I might be doing it wrong, but following the steps layed out in http://www.angularplayground.it/docs/getting-started/angular-cli I yield the following when running `npm run playground`:

[code]

The file in src/sandboxes.ts looks like
[code]

I did change the `module` to `esnext` in `src/tsconfig.app.json`.

Versions:

[code]

[2018-01-02 15:31] mgmarlow commented on #76
The error seems to suggest an issue with dynamic import support. Could you provide your Typescript version and the output of `ng -v`?

[2018-01-03 17:28] mgmarlow commented on #76
This problem should be solved w/ #75. Please create a new ticket if you're still having issues after updating.

[2018-01-03 17:28] #76 closed

[2018-01-03 23:22] DonghyukJacobJang opened #78 "[Question] how to import third party module in playground"
### Versions
[code]

[code]

### Repro steps
1. followed official installation from http://www.angularplayground.it/docs/getting-started/angular-cli
2. here is a code snippet of app.module.ts
-----------------------------------------------
[code]
one of test component.html
[code]
and it throws
[code]
-----------------------------------------------

Would you be able to help me to resolve this issu

[2018-01-04 15:50] mgmarlow commented on #78
Is that error thrown when visiting the Playground sandbox or when running the app?

Importing modules within sandboxes follow much in the same way as what you have above:

[code]

Now, if you need to use the `forRoot()` capability to define a custom path, you can follow the docs on how to [configure Angular's Animations module](http://www.angularplayground.it/docs/how-to/custom-root-ngmodule), whi

[2018-01-09 19:15] mgmarlow commented on #78
Closing this issue, please open a new issue if you are still experiencing problems.

[2018-01-18 22:22] mgmarlow opened #85 "After Using the Alt "Quick-Switch" Hotkey, Command Bar Stays Transparent"
### Versions
[code]

### Repro steps
* Navigate to component
* Hold Alt and press cursor key up/down without having the command bar open
* Observe that next time command bar is opened, command bar is still transparent

### Desired Behavior
Command bar should should be opaque when the alt shortcut is not in use.

[2018-01-30 00:40] dereklin opened #88 "Importing ngrx StoreModule causes label to not work"
### Versions
[code]
[code]

### Repro steps
Take any playground sandbox, import StoreModule from ngrx to it, see that the label is not working.

Like this:
[code]
### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)
Remove StoreModule import, label shows up:
[code]

[2018-01-30 22:31] mgmarlow commented on #88
`StoreModule.forRoot()` should not be called from within a component's sandbox. Instead, call that module's function from Playground's root module by tweaking it like so:

[code]

And reference this module from your `main.playground.ts`:
[code]

From here, a component's individual sandbox does not need to import the `StoreModule`.
[code]

For more information, see our docs about configuration anim

[2018-01-31 02:54] dereklin commented on #88
I am using nrwl/nx mono repo.  I am create one playground app for all my apps and the libs folder.  Having to import an app specific module is a little awkward.

In a mono repo, do you recommend creating individual playground per app and then an extra playground for the libs?

Or do you recommend creating one playground app for all apps and libs?

[2018-01-31 17:02] mgmarlow commented on #88
Ah, I see the scenario that you're describing. When you run `angular-playground`, we are technically serving one application (`main.playground.ts`) from the app entry within `.angular-cli.json`. That is why I was recommending the above approach to handling `@ngrx/store`.

With a monorepo, it is a little more complicated because (I am assuming) you have the potential for many apps listed within `.a

[2018-01-31 17:02] #88 closed

[2018-01-31 17:10] mgmarlow opened #90 "(feat) Build Output base-href"
## Add Option to Specify `base-href` When Building Playground

e.g.
[code]

[2018-02-05 16:50] purusingh opened #91 "Not working where there is form on template"
### Versions
[code]

[code]

[code]

[code]

[2018-02-05 21:55] mgmarlow commented on #91
Can you provide your sandbox file so I can see how you have it set up?

[2018-02-06 00:15] purusingh commented on #91
It didn’t work on my example and then I just copied your code and changed on your code from

import { Component, ChangeDetectionStrategy } from '@angular/core';
@Component({
  selector: 'ex-person-bio',
  template: `A big person bio`,
  styles: [`:host { display: block; }`],
  changeDetection: ChangeDetectionStrategy.OnPush
})
export class PersonBioComponent {}

To

import { Component, ChangeDetec

[2018-02-06 01:07] mgmarlow commented on #91
From the sound of it (I can't know for sure until I see your component `sandbox.ts` file) you need to add the import for the Angular form's module.

Something along the lines of:

[code]

[2018-02-06 01:18] purusingh commented on #91
I have imported on app module and playground module. But I will try that also.

Thank you
Puru

Sent from my iPhone

On Feb 5, 2018, at 8:07 PM, Graham Marlow <notifications@github.com<mailto:notifications@github.com>> wrote:

From the sound of it (I can't know for sure until I see your component sandbox.ts file) you need to add the import for the Angular form's module.

Something along the lines

[2018-02-06 01:53] mgmarlow commented on #91
I was able to tweak the example project to get it to work with forms like so:

[code]

[code]

Note that I don't need to add `FormsModule` to `my-playground.module.ts`, since it doesn't need a `forRoot()` call like the `RouterModule` or `AnimationsModule`.

This works when navigating to the "default" scenario for the `PersonBioComponent`. Note that there is an additional sandbox (located in `perso

[2018-02-06 01:53] #91 closed

[2018-02-06 23:43] mgmarlow opened #92 "Separate Check-errors Build and Serve Steps to Improve Performance"
1. Run --build (with or without service workers) to build app
2. Run `http-server` on build output
3. Run `verify-sandboxes` on served application

[2018-02-19 01:04] pharaxe opened #93 "configuration file missing error not printed to stderr"
### Versions
[code]

Output from: `ng --version`:
[code]

Output from: npm --version
[code]

### Repro steps
* Download a fresh copy of Angular Playground and set up the cli-example
* `cd examples/cli-example`
* `npm i`
* rename the angular-playground config file to something else to make it missing
* `mv angular-playground.json foo.json`
* Try starting playground
* `npm run playground`
### Observ

[2018-02-21 07:00] pharaxe opened #95 "If appName field is completely missing from config file, playground hangs without error message"
### Versions
[code]

Output from: `ng --version`:
[code]

Output from: npm --version
[code]

### Repro steps
* Download a fresh copy of Angular Playground and set up the cli-example
* `cd examples/cli-example`
* `npm i`
* delete the line that has the appName configuration option in angular-playground.json
* Try starting playground
* `npm run playground`
### Observed Behavior
Hangs without any mess

[2018-02-22 18:37] #93 closed

[2018-02-22 18:37] #95 closed

[2018-02-28 05:49] elmiguel opened #97 "Allow for templateUrls and styleUrls pattern to follow Angular Component Metadata"
Hello! I would like to propose a feature request that I think will help extend the angular-playground feature.

## Current Template Implementation
[code]

### Proposal Feature Functionality
Angular's metadata object allows to point to a `templateUrls` and `styleUrls`. These are picked up by WebPack and by the use of `require` upon the build process.  What is being proposed is that  `ScenarioConfig

[2018-02-28 11:55] jedrichards commented on #33
I'd really dig being able to define `entryComponents` in a sandbox (to sandbox modals made with `@angular/cdk` Overlay). For some reason when I add the needed `entryComponents` and `declarations` in the root `playground.module.ts` file instead in borks my actual main app build (I get component declared in multiple module errors). Why my main build is even looking in `playground.module.ts` I'm not

[2018-03-01 19:33] elmiguel opened #98 "Nested objects in context, component constructor and methods ignored when sandboxing."
### Versions
[code]

[code]

## Current Visual Issue
[Screenshot](https://gyazo.com/1086e515adcd88774e64bc433b16d208)

### Repro steps
* Step 1: Add a nested component context item
[code]

* Step 2: Add the html counter part syntax and interpolation.

[code]
**Note:** I have included a top level copy of `quickLinks` at the `top` level to help prove the nesting object issue.

* Step 3: Ensuring the

[2018-03-06 10:59] findjonmos opened #99 "Basic viewing of snadboxed component not working"
The basic issue is that I get a webpack error as per attached screen shot which stops the button component from being displayed.
I have followed the tutorial for setup using the Angular Cli.
The server for the playground runs fine and the search finds the component, but when I make the selection to view the component webpack fires off the error and nothing is visible on screen.

![screen-shot](htt

[2018-03-06 17:43] mgmarlow commented on #99
Could you provide your `main.playground.ts` as well as the sandbox for the component that is breaking the app?

[2018-03-06 17:44] mgmarlow commented on #85
Fixed in Firefox; quick-switch key is now Ctrl.

[2018-03-06 17:44] #85 closed

[2018-03-08 20:57] klauskpm opened #100 "Sandbox component wasn't found"
### Versions
[code]

[code]

### Repro steps

* Clone this project : https://github.com/klauskpm/playground-test
* Install all dependencies with `yarn` or `npm`
* Run the project with `npm run playground`

### Observed Behavior
[code]
![image](https://user-images.githubusercontent.com/690945/37175400-2e3b2bac-22f8-11e8-880d-40ee9585c607.png)

### Desired Behavior
[code]

### Any other details that

[2018-03-12 23:57] mgmarlow commented on #100
Ah, so part of the issue here is some bad error reporting code on our end that is fixed in a branch I am currently working on. You need to pass in the `--no-serve` flag since you are not running the Angular CLI behind the scenes.

In other words, the sandboxes aren't being compiled since the Playground CLI is breaking due to looking for an Angular CLI appName for Playground and not being able to f

[2018-03-13 16:13] rainboxx commented on #97
Related: #35

[2018-03-13 16:39] mgmarlow commented on #100
OK, so after digging into the issues I had after resolving the above (with the latest version of playground, which will be releasing in the next few days), I think you have an issue with the nested `tsconfig.app.json` files. The Angular Webpack plugin doesn't play nicely when the location of the `tsconfig` isn't at the root of the source directory. e.g. your config lives in `./src/config/tsconfig.

[2018-03-13 16:39] #100 closed

[2018-03-13 18:31] mgmarlow commented on #90
Added in #101

[2018-03-13 18:31] #90 closed

[2018-03-13 18:31] mgmarlow commented on #19
Added in #101

[2018-03-13 23:40] mgmarlow commented on #74
Added in #101 and #103.

When 4.0.0 gets released, you will be able to opt-in to the overlay by using the configuration system:

[code]

[2018-03-13 23:40] #74 closed

[2018-03-14 23:38] mgmarlow commented on #37
Please try the newest version of Playground and open a new ticket if this is still an issue.

[2018-03-14 23:38] #37 closed

[2018-03-19 09:29] Markus-Ende opened #105 "Sandbox components not selectable"
### Versions
[code]

[code]

### Repro steps
* create new angular cli app
* setup playground with 1 sandbox component
* start playground and select sandbox component in ui

### Observed Behavior
Sandbox component is listed but cannot be selected

### Desired Behavior
Sandbox component is listed and can be selected

[2018-03-19 20:40] kresli opened #106 "Error:(2, 10) TS2305: Module angular-playground/dist/index has no exported member 'initializePlayground'."
### Versions
[code]

[code]

### Repro steps
follow steps from http://www.angularplayground.it/docs/getting-started/angular-cli

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)
I see just these in .d.ts files
[code]
Maybe I did something wrong, but no clue. Any help?

[2018-03-20 00:24] mgmarlow commented on #106
Ah, the documentation has an import that doesn't need to be there any longer. With v4, you don't need to bring in `initializePlayground`:

[code]

I'll be sure to update the docs.

[2018-03-20 00:26] mgmarlow commented on #105
Can you provide your component's sandbox file?

[2018-03-20 00:30] mgmarlow commented on #106
Thanks for pointing this out, I've got a [PR out](https://github.com/SoCreate/angularplayground.it/pull/39) to fix the docs. Please open a new ticket if you run into any other issues.

[2018-03-20 00:30] #106 closed

[2018-03-20 18:29] nicolaje commented on #105
Exact same problem here.

In my case the component's sandbox file is:

[code]
See following gif:

![angular-playground](https://user-images.githubusercontent.com/1287229/37675197-f209b5b4-2c74-11e8-98a9-7655302a6768.gif)

[2018-03-20 19:50] mgmarlow commented on #105
OK, the issue stems from the way the scenario is declared. Playground uses a regex to read the name of a particular scenario in the `.add()` block, expecting it to be `.add('scenarioName', { ...`. The problem is your `.add()` is on the same line as the `sandboxOf(...)`.

I suspect changing it from:
[code]

to this:

[code]

will resolve your issue.

This is a known issue, so the regex that parses

[2018-03-20 19:58] Markus-Ende commented on #105
Wow, are you kidding? Ok, I'll try...

[2018-03-20 20:15] Markus-Ende commented on #105
It seems to work that way. If this is a known issue, it needs a BIG disclaimer in the documentation!
I even need to hack my Prettier to not automatically format the sandbox code...
Anyway, thx for your efforts! Keep up the good work, the idea is awesome.

[2018-03-20 20:23] mgmarlow opened #107 "Improve Scenario Name Regex"
Improve the regex that reads scenario names from sandbox files to allow more diverse formatting.

The following should all be valid:
[code]

Related: #105

[2018-03-20 20:24] mgmarlow commented on #105
Opened up #107, hopefully we can get this out soon in a patch. Thanks for filing the bug report and trying out Playground.

[2018-03-21 08:52] nicolaje commented on #105
Thanks, that was it, keep up the good work, it is really useful!

[2018-03-25 12:05] kresli opened #108 "How to sandbox directives?"
### Versions
[code]

[code]

Would be really useful if I could sandbox directive. Example is D&D directive to test if drag and drop works as expected. Is there a way how to achieve this without creating a component?
Thanks.

[2018-04-16 12:37] akinorew opened #110 "Search doesn't work: this.filter.valueChanges.debounceTime is not a function"
### Versions
[code]

[code]

### Repro steps
* Run playground
* You can see the error immediately in console

### Observed Behavior
[code]

### Desired Behavior
[code]

![screen shot 2018-04-16 at 14 33 32](https://user-images.githubusercontent.com/3313388/38809432-c276a41e-4183-11e8-82ba-96d6e00eae53.png)

### Any other details that may be useful (optional)
To fix it in app.component.js
import {

[2018-04-17 04:51] #107 closed

[2018-04-17 10:11] e11en opened #111 "[feature request] Using feature module for imports"
So I just started using Playground and I really like it so far but I'm missing the ability to import a feature module so I don't have to redefine all the imports from my module. When I do just import my feature module I get the error saying the component is declared in two modules `Error: Type LoginComponent is part of the declarations of 2 modules: LoginModule and DynamicModule!`

Hope this is po

[2018-04-17 13:45] lurock commented on #111
If the LoginComponent is already declared in the LoginModule you need to set declareComponent to false.  See the docs here http://www.angularplayground.it/docs/api/sandbox about the declareComponent setting.

[2018-04-17 13:45] #111 closed

[2018-04-19 09:38] akinorew opened #112 "Bug: When adding new component variation code needs to be formatted in one specific way"
### Versions
[code]

[code]

### Repro steps
* Adding next component variation without the new line doesn't add that option in the menu:

`.add('big', {
        template: `<div></div>`
    }).add('with specified icon', {
        template: `<div></div>`
    });`

* Only this code will work:

` .add('big', {
        template: `<div></div>`
    }) //there has to be new line here

.add('with specified

[2018-04-19 21:00] davidwuerfel commented on #112
@akinorew Could you check whether the PR would also fix your problem? My problem was very similar.
https://github.com/SoCreate/angular-playground/pull/109

[2018-04-20 09:26] akinorew commented on #112
@davidwuerfel It doesn't fix my case, but this one would:
const scenarioRegex = /^.*(?!\/\/)\s*\.add\s*\(\s*['"](.+)['"]\s*,\s*{/gm;

[2018-04-21 21:59] davidwuerfel commented on #112
@akinorew I had a look at the current master (where PR #109 has been integrated). It should also match your case. The Regex you provided would unfortunately break the "commented-out" case (there also exists a test for this). Could you check it again e.g. here: https://regex101.com/r/mtp2Fy/3 (I added your case)? If it is fixed, you may use the master or wait for a new patched version (@lurock: Are

[2018-04-23 09:13] akinorew commented on #112
@davidwuerfel Yes, you are absolutely right! It will fix my case too. I figured you are not part of the team, but thank you for responding!

[2018-04-23 10:26] davidwuerfel commented on #112
@akinorew Glad to hear. You're welcome.

[2018-04-23 22:55] lurock commented on #110
Can you post a link to a project on GitHub with this setup?

[2018-04-23 23:11] lurock commented on #112
This should now be fixed in the 4.0.1 release that is now available on npm.

[2018-04-23 23:11] #112 closed

[2018-04-29 14:47] goldenbearkin opened #113 "What would be the config in angular.json for the angular v6?"
angular v6 no longer has the angular-cli.json, it moves the config to angular.json instead. Could anybody figure out the right way of applying the config in the new angular.json ? Many thanks!!!

[2018-05-02 14:00] ZahraAmiri1996 opened #114 "Cannot find module 'timers'."
### Versions
[code]

[code]

### Repro steps

* Step 1
* Step 2
* Step 3

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)

[2018-05-02 14:00] #114 closed

[2018-05-02 22:27] arroyocode commented on #113
@goldenbearkin We will be upgrading playground shortly after angular v6 is officially released. Stay tuned.

[2018-05-04 19:57] DanWahlin commented on #113
Thanks @arroyocode. Interested in this as well.

I've tried to upgrade things to what I'm guessing it'll be (`ng upgrade @angular/cli` refactored the angular.json file of course),  but when I do `npm run playround` I'm getting `[ng serve]: Unknown option: '-n'`. Hoping I just need to do a small tweak. Thanks!

[2018-05-05 04:56] Buttars commented on #113
@arroyocode Do you have a rough timeframe so I know when I should check back?

[2018-05-05 16:41] JustinCouto commented on #113
@Buttars we are in the process of figuring out the best way to support the changes in Angular 6 in Playground.  We use Playground as a part of our daily development, so it is critical for us to get it updated as soon as possible.  Once we finish determining the plan we should be able to post an ETA.  Our team has a busy week a head of them and we likely wont have an update until the week of the 14

[2018-05-05 22:40] Buttars commented on #113
@JustinCouto You're the man! Thank you for your contributions to the opensource community.

[2018-05-08 08:20] akinorew opened #115 "Error in console log in the hybrid setup"
### Versions
[code]

[code]

### Repro steps
Run playground

### Observed Behavior
[code]

![screen shot 2018-05-08 at 10 20 59](https://user-images.githubusercontent.com/3313388/39746059-88ce1436-52a9-11e8-821e-d5b86aed42ca.png)

### Example app:
https://github.com/akinorew/test-playground

[2018-05-08 10:44] akinorew commented on #110
@lurock I tried to reproduce this issue with the small app that had the same dependencies and versions as the app I have, that has this issue. I couldn't reproduce it. It seems like something flaky happening.

[2018-05-08 11:38] akinorew commented on #110
@lurock It seems it was the tsconfig configuration:

"paths": {
    "*": [ "node_modules/*", "source/*", "styleguide/*"]
}

and this issue is related to https://github.com/ReactiveX/rxjs/issues/2984 

[2018-05-10 10:29] ciesielskico opened #116 "App is hosted as `ap-root` instead of `app-root`"
### Versions
[code]

[code]

### Repro steps

I've setup a simple angular-playground project to test a single component and I get this:

![image](https://user-images.githubusercontent.com/17651898/39865560-93be377c-544d-11e8-8a1e-c1be78038998.png)

[code]

[code]

### Observed Behavior
`ap-root`  appears in Chrome Devtools.

### Desired Behavior
`app-root` should appear in Chrome Devtools

I have

[2018-05-10 18:37] sulco commented on #113
Hey @JustinCouto, if you could use some additional hands on this, I'd be up to help.
Playground really shaved some substantial hours in my recent development, so I would gladly give back.

[2018-05-11 19:27] arroyocode commented on #116
@ciesielskico The `ap-` naming convention is intentional as is relates to Angular Playground and is used in other Component selector values within the project (i.e.: `ap-root`, `ap-pin`, `ap-logo`, `ap-drawer`, `ap-scenario`) so I'm afraid we won't be making this change. We appreciate your submission!

[2018-05-11 21:45] #116 closed

[2018-05-14 11:48] akinorew commented on #113
To fix this issue, there has to be change in serve-angular-cli.js

`function configureArguments(config) {
    let args = [config.angularCliPath, 'serve', **'--no-progress'**];
    args.push(`--port=${config.angularCliPort}`);
    if (config.angularAppName) {
        args.push(`**--project**=${config.angularAppName}`);
    }
    else {
        throw new Error('Please provide Playground\'s appName i

[2018-05-14 23:45] JustinCouto commented on #113
@sulco thank you so much for the offer.  Currently, we are evaluating the best way to do the upgrade and planning for the future direction.  We hope to have something out by the end of this week.  Once we have the plan figured out, we might take you up on your offer.  We do appreciate it and are happy to hear Playground has been a big help to you.  It has certainly changed the way we do things her

[2018-05-16 00:03] daiky00 commented on #113
@JustinCouto I need this ASAP please update us when this is done

[2018-05-16 19:43] gnomeontherun opened #117 "Stackblitz integration"
It would be very useful to be able to somehow ship a sandboxed component to Stackblitz. This could be done through the [POST API](https://stackblitz.com/docs#post-api) or [JavaScript API openProject](https://stackblitz.com/docs#sdk-openproject-project-opts).

From a user's perspective, having a button to 'export to stackblitz' would be the ideal scenario, where the client could then upload the cur

[2018-05-17 17:03] LPCmedia commented on #113
I was able to fork and do the upgrade using rxjs-compat. I can probably remove it shortly but at least I am unblocked by this from my end.

see comments here:
https://github.com/SoCreate/angular-playground/pull/118/files

[2018-05-18 13:19] kpaxton opened #119 "Nrwl/NX Compatibility"
### Versions
[code]

[code]

### Repro steps
In an NX Workspace I have a single App with multiple libs.
I have followed the instructions for creating a playground and have a ```main.playground.ts``` in the single app. I have added an app names ```playground``` in the ```.angular-cli.json``` and it's basically a duplicate of the root app configuration. I have a ```sandboxes``` folder for sandboxes

[2018-05-18 13:50] isaacplmann commented on #113
Thanks @LPCmedia !  Your fork works for me too.

[2018-05-19 00:05] lurock commented on #113
Hey All, I published a new version that works with Angular 6 and also update the [docs site](http://www.angularplayground.it).  Check the [change log](https://github.com/SoCreate/angular-playground/blob/master/packages/angular-playground/CHANGELOG.md) to see what you need to change in your project after you npm install the new version of angular-playground.

[2018-05-19 00:05] #113 closed

[2018-05-19 00:13] lurock commented on #110
It sounds like you have resolved the issue.  Closing issue, please feel free to comment if your are still having an issue.

[2018-05-19 00:13] #110 closed

[2018-05-19 01:13] DanWahlin commented on #113
Thanks!

[2018-05-26 22:10] sulco commented on #73
Hey @arroyocode, I'm up to add this: actually I already have a working schematics for adding playground to the workspace (the whole ["Setup with Angular CLI"](http://www.angularplayground.it/docs/getting-started/angular-cli)) and then generating sandbox files, just need to clean things up ;) and of course some guidance as to where would you like to have it within the repo.

Would you care for a co

[2018-05-29 15:44] arroyocode commented on #73
Good day @sulco. We're definitely open to contributions to Playground. Please review our contribution guide (https://github.com/SoCreate/angular-playground/blob/master/CONTRIBUTING.md) first and follow those instructions prior to submitting your PR. We look forward to hearing from you.

[2018-06-03 20:03] bengry opened #121 "Add HMR (Hot Module Reloading) support"
### Versions
[code]

### Repro steps

1. Create new Angular CLI project (`npx @angular/cli new sample-repo`)
2. Follow [directions here to add HMR](https://github.com/angular/angular-cli/blob/master/docs/documentation/stories/configure-hmr.md).
3. Run `npm run angular-playground --ng-cli-args --hmr --env=hmr`.
4. Open browser and navigate to a sandbox.
5. Modify a Sandbox/Component.

### Observed

[2018-06-04 00:38] MarkPerryBV opened #122 "Feature Request - Responsive Template"
Love the playground but what it really needs is the ability to host the same component at different screen widths so I can design the component responsively.

Would love to see the same component rendered at sm, md, lg, xl screen widths.

Also the ability to render the component in different languages would also be nice.

And the ability to render a HTML version of the component from the scenario

[2018-06-04 18:31] brianmtreese commented on #122
Hey Mark thanks for the feedback! These are all great suggestions that we have encountered as well. We have employed a few different techniques to get us what we need.

**Responsive Option 1**
We actually have an app in which we apply three different html classes on a parent container depending on the width of this container (small, medium and large). Sometimes our components look the same across

[2018-06-13 21:31] FDIM commented on #33
I've made a PR that most likely fixes this issue - I'll verify if it does at work and update tomorrow.

[2018-06-19 06:34] cdeturche commented on #33
Needed to check behavior with modals.

Thank you.

[2018-06-26 21:37] #33 closed

[2018-06-28 05:59] arroyocode commented on #98
Hello @elmiguel , we've closed the issue because there has been no response to our request for more information. With only the information that is currently in the issue, we don't have enough information to take action. Please reach out if you have or find the answers we need so that we can investigate further.

[2018-06-28 05:59] #98 closed

[2018-06-28 06:02] #92 closed

[2018-07-02 01:43] Buttars commented on #73
I would absolutely love to see this added. This would be a great tool that would save me a lot of time.

[2018-07-04 20:17] GrandSchtroumpf opened #125 "Custom <ap-root> component and dynamic scenario"
### Versions
angular-playground
[code]
@angular/cli
[code]

I would like to use Angular Playground to build a visual component builder (like [Ionic Creator](https://creator.ionic.io/). for that I need to programmatically add or remove sandboxOf, and manipulate the scenarios.

### Manipluate sandboxOf
If I understand right your app, I think we should be able to fill the `sandboxes.ts` file through

[2018-07-13 21:34] arroyocode commented on #125
Hello @GrandSchtroumpf. Could we trouble you to provide more detail about what is needed? We reviewed the issue internally and feel we need more info to be able to provide a more accurate response.

[2018-07-13 21:41] arroyocode commented on #119
Afternoon @kpaxton. I'm afraid we don't have a usage example within an NX Workspace as we don't use NX internally. Unfortunately, this is not something on our roadmap currently. We appreciate your request and use of Playground.

[2018-07-13 21:43] #119 closed

[2018-07-13 21:56] GrandSchtroumpf commented on #125
Of course. The problem is that the `angular-playground/core/src/shared/sandboxes.ts` file is only filled by the cli. I would like an API to fill the file dynamically through a web app. Like that we can have user building the component from a visual editor and show the result dynamically. That's why I was thinking about two functions to fill and remove the components inside `sandboxes.ts`file.

My

[2018-07-25 19:45] arroyocode commented on #117
Good day @gnomeontherun, we have discussed this request internally and have come to the conclusion that this is not something we're planning to do primarily for lack of internal development need. We do see the value in this for others outside our organization, thus, we would be open to reviewing a PR should someone in the community be willing to take on the task.

[2018-07-25 19:45] #117 closed

[2018-07-25 19:52] arroyocode commented on #122
@MarkPerryBV, thank you for your use of Playground! As @brianmtreese indicated, the use of the "dev" module satisfies our internal need so I'm afraid this is not something we're planning to build into Playground in the foreseeable future so we're going to close this issue.

[2018-07-25 19:52] #122 closed

[2018-07-25 20:20] arroyocode commented on #115
Good day @akinorew. Thank you for your interest in Playground and the sample repository. I'm afraid we're not able to provide support for Angular JS/Angular hybrid Playground projects as our internal focus is specifically Angular. We apologize but this is not something we can address for you.

[2018-07-25 20:20] #115 closed

[2018-08-14 16:36] gbenthomas opened #128 "Two instances of sandboxed component are created"
### Versions
[code]

[code]

### Repro steps

* ng new angular-playground-test
* Setup angular playground as mentioned in docs
* cd src/app && ng generate component notice
* Edit notice.component.ts:
[code]

* Create notice.component.sandbox.ts:

[code]

* npm run playground and select scenario

### Observed Behavior
Two instances of NoticeComponent are created. The second one is added to the DOM

[2018-08-21 19:33] #128 closed

[2018-08-21 19:48] #73 closed

[2018-08-22 21:35] timstoddard opened #135 "Error when running playground 5.1.1 (Cannot find module 'typescript')"
### Versions
[code]

[code]

### Repro steps

* Step 1: ng new <app-name>
* Step 2: ng add angular-playground
* Step 3: npm run playground

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)

[2018-08-23 17:51] #135 closed

[2018-08-24 16:02] StephenFluin opened #138 "Angular playground in 2 types of dependencies from ng-add"
### Versions
[code]

[code]

### Repro steps
- have yarn configured as package manager of choice in angular's global CLI config
- ng new playground-test
- ng add angular-playground

### Observed Behavior
[code]

The `angular-playground` ends up in package.json in both the dependencies or devDependencies.

### Desired Behavior
[code]

[2018-08-24 16:04] StephenFluin opened #139 "Add helping onramp for new developers using playground"
### Versions
[code]

### Repro steps
* yarn playground
* visit localhost:4201

### Observed Behavior
![image](https://user-images.githubusercontent.com/165056/44595003-9b6a0500-a77c-11e8-9f37-02c8c641c62c.png)

### Desired Behavior
Many developers will discover playground with `ng add`, it would be helpful if upon install you print out some getting started instructions, and if the user doesn't hav

[2018-08-24 16:39] lurock commented on #139
Great feedback!  Thank you.  We are going to add a link to the docs for creating sandboxes when a user does not have any created.

[2018-08-24 16:40] timstoddard commented on #138
Hey Stephen, thanks for the bug report! We've figured out the problem; `ng add` adds "angular-playground" as a normal dependency and installs the package, then our custom ng add schematic adds it as a devDependency since we expect most users will only want it in their dev workflow. Do you know if there is a way for `ng add` to add playground to devDependencies instead of dependencies before instal

[2018-08-24 19:44] #138 closed

[2018-08-27 16:28] #139 closed

[2018-08-28 00:11] timstoddard opened #142 "TypeError: __webpack_require__.e is not a function"
### Versions

[code]

[code]

### Repro steps

1. Create a new angular project (via `ng new`).
2. Make a typescript error in the code somewhere.
3. Run `ng serve`, and wait until you see a compilation error.
5. Fix the typescript error.
6. Go back to the playground page; on reload, it should produce this error.

### Observed Behavior

[code]

### Desired Behavior

[code]

### Any other details tha

[2018-08-29 09:36] brugsel opened #143 "How to sandbox components that are part of a library in the workspace of cli?"
### Versions
[code]

[code]

### Repro steps
* Install a new workspace following the default steps of Angular CLI v6
* Install Angular Playground
* Add a Library project to the cli workspace
* Add a component and sandbox to the library project

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)

[2018-08-31 20:59] timstoddard commented on #142
submitted a bug report against the angular-cli repo
https://github.com/angular/angular-cli/issues/12062

[2018-09-04 14:31] kurpav opened #144 "ngx-translate integration"
Are there any ways to provide translations to angular-playground module?
I can import that module with config.
[code]
Then I need to set default locale somewhere.
Where I can do it?

[2018-09-07 16:17] timstoddard commented on #143
Hello @brugsel, we have reviewed this issue and have determined that we will support this feature. We will work on it sometime in the near future; if you would like to see this issue resolved sooner, feel free to submit a PR with the fix!

[2018-09-07 17:34] timstoddard commented on #144
Hello @kurpav,

Yes, the ngx-translate module should work with Angular Playground. When using a sandbox, it is recommended to use mock data in order to simplify the component development/testing process; this likely means that you do not need to set the default locale for the sandboxed component. I have demonstrated how to set up a mock translate service in a sandbox below.

[code]
The whole sampl

[2018-09-17 09:00] kurpav commented on #144
I've developed my own solution:
[code]
And now I don't have to mock my translations. But anyway thanks for your response @timstoddard

[2018-09-17 17:08] #144 closed

[2018-09-20 06:50] goldenbearkin opened #145 "schematics broken: path.includes is not a function"
### Versions
[code]

[code]

### Repro steps
1) ng add angular-playground

Output:
[code]
### Desired Behavior
[code]

[2018-09-24 17:46] timstoddard commented on #145
This seems to be a Linux issue as the `ng add` schematic works fine on my (Windows 10) work computer. We will look into this sometime in the near future; if you want to see this fixed sooner, we welcome you to submit a PR!

[2018-09-25 22:29] timstoddard commented on #145
@goldenbearkin the issue could be that `String.prototype.includes()` is not a function on your system. Can you try checking that function in the node cli and let me know what it says?
[code]
^^ this is what it should be

[2018-09-28 21:33] allanbond commented on #143
You can do this by updating the tsconfig.app.json inside the playground project.

`  "include": ["**/*.ts", "../my-controls-lib/src/**/*.sandbox.ts", "../my-other-lib/src/**/*.sandbox.ts"]`

[2018-10-11 21:12] timstoddard commented on #143
@brugsel angular-playground does not have that feature yet but we plan to add support for libraries sometime in the future. If you would like to create a PR to see that feature added sooner, we welcome you to submit one!

[2018-10-15 06:54] jornare opened #146 "Reloading page navigates away from the component and back to the "home" screen"
### Versions
[code]

[code]

### Repro steps
* Open the playground in the browser
* Open a sandboxed component
* Click reload (in the browser)

### Observed Behavior

Sandbox navigates back to a blank page

### Desired Behavior
[code]

### Any other details that may be useful (optional)

[2018-10-15 18:05] timstoddard commented on #146
Hello @jornare,

I am unable to reproduce this bug; I tested in Chrome, Firefox, and Edge. We do not support using Playground in IE.

Does your sandboxed component have routing logic that navigates away from the link for the sandbox, when the page is reloaded? If so, you will need to mock the router in your sandbox to make it a no-op (or at the very least, not actually perform navigation).

Also,

[2018-10-16 06:39] jornare commented on #146
@timstoddard You're right. I added RouterModule.forRoot([]) in the PlaygroundModule.configure because one of my components had a [routerLink] in it. Adding RouterTestingModule instead worked fine.

[2018-10-18 18:40] timstoddard commented on #145
@aaronksaunders I think I've figured out what is causing this bug. Could you please paste the contents of `architect.build.options.styles` in your project's `angular.json` file? The ng-add schematic for playground currently assumes it's a list of strings, but I'm guessing yours looks more like the following example (found [here](https://github.com/angular/angular-cli/wiki/stories-global-styles#glo

[2018-10-18 22:37] #145 closed

[2018-10-18 22:37] #146 closed

[2018-10-21 07:18] ddehghan opened #151 "Reloading the page and keeping a test component selected"
Thanks for a fantastic tool. It has been a lifesaver.

### Versions
[code]

### Repro steps

1) After selecting a test case we get redirected to
http://localhost:4201/?scenario=.%2Fapp%2Fviewer%2Fpages%2Fjobs%2Fjobs.sandbox%2FJob
2) Then once the code is modified the watcher will recompile the code and the page is automatically reloaded and goes back to the root http://localhost:4201/
3) then you

[2018-10-21 17:16] timstoddard commented on #151
Hello @ddehghan,

This sounds like a duplicate of #146. Playground does not redirect on reload. The redirect is likely happening due to routing logic in your sandboxed component that navigates away from the link for the sandbox on reload. Trying using `RouterTestingModule` instead of `RouterModule.forRoot(routes)`.

[2018-10-21 19:58] timstoddard opened #152 "add documentation about mocking the RouterModule"
### Versions

### Repro steps

### Observed Behavior

### Desired Behavior
[code]

### Any other details that may be useful (optional)

[2018-10-22 10:20] ddehghan commented on #151
Perfect. That in fact was the issue. :-)

[code]

[2018-10-22 10:20] #151 closed

[2018-10-25 06:59] Kr0san89 commented on #142
Hello, @timstoddard have a similar Problem. I downgraded playground to Version 5.0.0 and it works again.

[2018-10-25 18:35] timstoddard commented on #142
@Kr0san89 I updated the repro steps since I found a deterministic way to reproduce the error. Was that similar to the steps you took when you ran into the error?

[2018-10-25 22:54] timstoddard opened #153 "add support for Angular 7"
[official article](https://blog.angular.io/version-7-of-angular-cli-prompts-virtual-scroll-drag-and-drop-and-more-c594e22e7b8c)

[changelog](https://github.com/angular/angular/blob/master/CHANGELOG.md)

[2018-10-26 07:09] Kr0san89 commented on #142
@timstoddard
I had an already existing project with no erros. (Angular 6)
I just added playground with ng add as Descriped on the page
-> had the Failure.

Since i use playground on another project it -> i downgraded to same version

[2018-11-03 02:32] jfairley commented on #152
@timstoddard I'm interested in what I can do. This is certainly an annoyance but I thought it was just something I had to live with.

[2018-11-05 18:07] oussa opened #154 "alt + up or down shortcut for Sandbox Quick Toggle on Mac OS not working"
### Versions
[code]

[code]

### Repro steps
* Have a completely basic example (you can follow the getting started guide
* Ctrl+P to display the command bar
* Alt + Up --- or --- Alt + Down

### Observed Behavior
[code]

### Desired Behavior
[code]

[2018-11-06 21:17] paolocarrasco opened #155 "Set MaxBuffer as argument in the command line"
### Versions

[code]

[code]

### Repro steps
* There is a large application where we want to use Playground (we have plans to use split it up, but we want this working first).
* Followed the instructions in the `playground.it` page to deploy the Angular Playground output.
* It was configured a build step in the `package.json` file:
[code]
* Run `npm run playground-build`.

### Observed Behavior
[

[2018-11-07 19:45] timstoddard commented on #154
The shortcut is ctrl+up/down. That documentation is out of date; we will update it as soon as we can. Thanks for reporting!

[2018-11-09 03:07] jfairley commented on #152
Perfect. Thanks!

On Thu, Nov 8, 2018, 3:25 PM Tim Stoddard <notifications@github.com wrote:

[2018-11-12 13:03] paolocarrasco commented on #155
Any news about this? We need this change to deploy it.

[2018-11-15 20:51] paolocarrasco commented on #155
Thank you guys! You rock! 🎊 🎉 🎈

![legendary](https://media.giphy.com/media/xHMIDAy1qkzNS/giphy.gif)

[2018-11-15 20:51] #155 closed

[2018-12-04 16:00] tfiwm opened #158 "SandboxBuilder prepare function"
Hello,

is there any possibility to prepare data for each sandbox example? Do you have some possible strategies for that?
We are building presenter and smart components. So for presenter components the playground already works amazing!
But for our smart components we would like to mock the states. E.g.: state managements
A prepare function would be really nice to set a state, mock http requests or

[2018-12-04 18:48] tfiwm commented on #158
Yes that's true but what happens if i want to add more examples in the same component sandbox

[code]

[2018-12-04 19:03] tfiwm commented on #158
What i could imagine is something like in tests:

[code]

I will try to make this as an experiment and pr for testing ;)
I am happy for any different ideas!

[2018-12-04 19:06] timstoddard commented on #158
I would imagine that if you're expecting to get different outputs from a function, that those correspond to some sort of arguments. So, you could expand the mock service I gave earlier to include one or more parameters, and pass in those arguments as `Input()`s to your component. I have updated my previous example to include this sort of functionality; let me know if that solves your issue.

A gen

[2018-12-04 19:21] tfiwm commented on #158
I don't think this will scale good from code perspective. This approach forces me to make my code playground compatible but it should be the opposite.

What is if you want to test an error case of your component as "Example 2". There is no possibility with an argument. Therefor i would just to test if backend request is ok or fails and the reaction of the component -> http mock like in my post as

[2018-12-04 19:41] timstoddard commented on #158
A few things:
- It seems like you're trying to do some sort of testing with Playground. Playground was designed to be able to render a minimal scenario of a component, and we do not support any testing functionality.
- We wrote Playground following the guidelines given in the [Angular Style Guide](https://angular.io/guide/styleguide). So, "Playground compatible" code is simply well-written Angular

[2018-12-04 19:48] tfiwm commented on #158
The idea with the providers self sound like a good way...i haven't saw that this is possible in the `ScenarioConfig`... I will try this!

THX!

[2018-12-04 22:13] timstoddard commented on #158
Glad I could help! Have a good day sir :)

[2018-12-04 22:13] #158 closed

[2018-12-10 20:49] bjDesign commented on #97
Has this been abandoned?

[2018-12-10 21:08] elmiguel commented on #97
I have so busy with work projects I forgot to create a simple project that used the suggested proposal. At the time I believe this was something that was already in the projects future pipeline. I have not used the latest release of this project yet with the latest version of Angular. I see that is now marked as a feature so I would assume that this is now available? If not, can see if I can set s

[2018-12-10 21:10] timstoddard commented on #97
The SoCreate team does not plan to implement this feature anytime soon. However, if a member of the community such as yourselves wants to submit a PR that adds this functionality, we would be happy to work with you to merge it in.

[2018-12-17 08:54] ringodotnl opened #159 "Are there any plugins ?"
Q: Does Angular Playground support plugins if so are there any plugsin out there ?

Cheers,
Ringo,

[2018-12-17 15:37] JustinCouto commented on #159
We have talked about building a plugin system for playground, but we have not plans at the moment to build one.  It is something we'd like to do in the future.  It is also something someone could contribute.

[2018-12-18 07:32] doggy8088 opened #160 "How to put <playground-host> inside <app-root>"
### Versions
[code]

[code]

### Repro steps

N/A

### Observed Behavior

I see `<playground-host>` directive appear before `</body>`.

![image](https://user-images.githubusercontent.com/88981/50138480-bf2bfa80-02d9-11e9-8a86-055f893a253d.png)

### Desired Behavior

I thought it should put inside `<app-root>` tag.  So that I can put my component into right place.

Can I have this dynamic directive

[2018-12-18 08:33] doggy8088 commented on #160
I suggestion this could put a line into DOCS.

[2018-12-31 18:45] #154 closed

[2019-01-18 05:19] jfairley commented on #153
any progress here?

[2019-01-18 22:46] timstoddard commented on #153
PR has been created, @lurock can you look it over please?
https://github.com/SoCreate/angular-playground/pull/161

[2019-02-06 22:14] frederikprijck commented on #143
You can see a working example on combining nx with angular-playground here: https://github.com/frederikprijck/angular-playground-nx.

Basicly what you need to do is:

- npm i angular-playground -D
- ng g app playground
- update the playground app's main.ts file:
[code]
- add `"../../libs/**/*.sandbox.ts"` to the includes in playground's tsconfig.app.json
- add an angular-playground.json file to th

[2019-02-20 09:30] centigrade-julian-lang commented on #142
I had the same error, but for me it was enough to stop the running `angular-playground` process and restart it via `npx angular-playground`

[2019-02-20 18:01] alcfeoh opened #162 "Error: Cannot read property 'parentNode' of undefined at initializePlayground"
### Versions
"angular-playground": "^5.3.0"
    "@angular/animations": "~7.1.0",
    "@angular/cdk": "~7.0.2",
    "@angular/common": "~7.1.0",
    "@angular/compiler": "~7.1.0",
    "@angular/core": "~7.1.0",
    "@angular/forms": "~7.1.0",
    "@angular/http": "~7.1.0",
    "@angular/material": "^7.0.2",
    "@angular/platform-browser": "~7.1.0",
    "@angular/platform-browser-dynamic": "~7.1.0"

[2019-02-20 19:28] timstoddard commented on #162
It seems like your selector doesn't match your app root selector. In `main.playground.ts`, make sure the selector is the same as the selector for your app root component.
[code]

[2019-02-20 19:28] #162 closed

[2019-02-20 19:45] alcfeoh commented on #162
Thanks, that fixed it. Perhaps the schematic could pick the name of that selector automatically rather than assume that it's app-root? Most production applications won't use app-root as a main component selector.

[2019-03-07 13:24] bhaidar opened #164 "How to inject a Service inside a Sandbox"
Hi,
Is it possible to inject a Service and call it inside sandbox? I need to use MatDialog service to open dialogs.

Thanks

[2019-03-07 17:47] bhaidar commented on #164
I ended up creating an additional component that actually injects the Service and uses it. Then I sandbox this new component.

[2019-03-07 18:51] timstoddard commented on #164
Hey @bhaidar, I'm glad you found a solution to your issue!

Another way to inject services in Playground is to add them as a provider in the config for your sandbox. This saves us from having to create a host component just for the sandboxed scenarios.
[code]
In your case, the `MatDialog` service is included in the [`MatDialogModule`](https://github.com/angular/material2/blob/master/src/lib/dialog

[2019-03-07 18:51] #164 closed

[2019-03-18 22:07] bhaidar opened #167 "What's the resulting output of running --check-errors?"
Hi,
I am running `npx angular-playground --check-errors`.
At some moment of time, I get the confirmation that `[ng serve]: i ｢wdm｣: Compiled successfully.`

Then, the CLI start outputting lines starting with `Checking ...`

But it never stops! I mean, the command prompt is never free, as if it is stuck somewhere.

What's the typical or proper output of running `npx angular-playground --check-error

[2019-03-18 22:29] timstoddard commented on #167
As of the latest version, it should:
* start the angular dev server
* run each sandboxed scenario
* if any sandboxed scenarios have errors, it will print them to the console (default), or write them to an output file (can be configured via the cli or the playground config file)

Note, we fixed a few things regarding the --check-errors functionality in the latest version (5.3.1), so make sure you'r

[2019-03-18 22:29] #167 closed

[2019-03-19 07:38] bhaidar commented on #167
Thanks @timstoddard for the info! The old version seems was getting stuck somewhere. Now with the upgrade of the package I can see all the scenarios are being checked and running.

Thanks

[2019-03-29 23:30] ddehghan opened #169 "When running the cli the port is ignored when --check-errors is present."
### Versions

Angular CLI: 7.3.7
Node: 11.7.0
OS: darwin x64
Angular: 7.2.11
... animations, common, compiler, compiler-cli, core, forms
... http, language-service, platform-browser
... platform-browser-dynamic, router

Package                           Version
-----------------------------------------------------------
@angular-devkit/architect         0.13.7
@angular-devkit/build-angular     0.1

[2019-04-01 18:30] timstoddard commented on #169
Hi @ddehghan, thanks for the inquiry about playground!

The error checking utility for playground overrides any port configuration option (if one is given) and instead uses the first free port between 7000 and 9000, so it should not interfere with running playground on other ports - see the link below for the code that does this. If you already have playground running on 7000 and you then run `--c

[2019-04-01 18:30] #169 closed

[2019-04-03 06:59] ddehghan commented on #169
Thanks Tim for answering.

I am not sure that port detection is working correctly. Just run one instance with --check-errors in one tab of osx terminal and run another one in another tab. and you will get:

[code]

[2019-04-03 19:47] timstoddard commented on #169
Thanks for bringing that to our attention! I have investigated the issue and submitted a PR to fix it. With the next release of Playground, the port error you experienced should no longer happen.

[2019-04-04 09:05] ddehghan commented on #169
Oh. Thank you guys. I love the this tool and it is indispensable for a building a large angular app.

[2019-04-13 17:41] jamesbuettner opened #174 "Ability to toggle on 'Documentation & Source' Panel"
### Versions
### Repro steps
### Observed Behavior
### Desired Behavior
[code]

### Any other details that may be useful (optional)

[2019-04-14 14:34] JustinCouto commented on #174
Hi There,

This is a really good idea and it is something we have considered.  The things we are unsure about is where you would store the documentation.  Would you create some sort of doc file in your source control next to your sandbox file?  Should your documentation be mixed in with your code and would people want this? Would you want documentation for your frontend and your backend in differe

[2019-04-14 14:53] 13bitts commented on #174
Great. All great questions.
Maybe the documentation piece could be deferred? Our use case for Angular Playground may be a bit different, as we are moving towards it for our UI Component Library. The most common theme we see is developers wanting to know what the source is to create the component they see in there application.
Let me know how I can help after you have discussed it.
Thanks.

[2019-04-14 19:22] jamesbuettner commented on #174
Took a bit and mocked up a view that I thought would be unobtrusive, but if someone wanted to view the source code, it would be available. Icons are wrong and not fully fleshed out, but you should get the idea.
![source-view](https://user-images.githubusercontent.com/4565176/56097982-27c26700-5ec9-11e9-891e-8363aaa8a7a6.png)

[2019-04-15 00:26] jamesbuettner commented on #174
Apologies for another comment, but I thought a little bit more about various uses that I have seen others ask for. If Plug-In's are something that is desired, having a structured fly-out from the side would enable stacking various 'Plug-In' features without altering the simplicity and ease of use of the initial component switcher/viewer.
The following are a couple variations of what it could look

[2019-04-17 02:49] JustinCouto commented on #174
Thanks for putting the effort into this.  I will discuss it with my team and we will figure out how we want to move forward on this.

[2019-04-18 01:07] jamesbuettner commented on #174
Perfect. Let me know how I can help.

[2019-04-24 15:51] jamesbuettner commented on #174
@JustinCouto, have you had a chance to discuss this?

[2019-04-24 15:56] JustinCouto commented on #174
Hi James,

We have been discussing it.  There are some issues in how we would exclude certain content from a tabbed code view.  The issue is that there is content in Sand Boxes and possibly components, that you wouldn't want to display in the code view.  We are discussing the best ways to not include this content.  We really like the idea of it, but we need more time to consider the best way of do

[2019-04-24 23:05] jamesbuettner commented on #174
Thanks for the update.
I was going to start implementing it, but per contributing guidelines, I am hesitant to start if there is little chance of integration. From what I gather, there is interest, just may need small changes.
Is that correct?

[2019-04-25 11:21] rootical commented on #143
Thanks, @frederikprijck.

Any news on when the official component libraries support could be added?

[2019-04-27 05:33] #159 closed

[2019-04-29 09:45] therepo90 opened #175 "After live reload url changes"
### Versions
[code]

Repro:
open some component sandbox, make code change and wait for code reload, the url gets changed to localhost:4201

[2019-04-29 19:36] timstoddard commented on #175
Hi @therepo90, sorry to hear about your issue!

You probably are using `RouterModule` when you should be using `RouterTestingModule`. Please see #151 for details on how to fix. Let me know if that does not solve your issue.

[2019-04-30 14:23] therepo90 commented on #175
works like a charm, thanks mate :)
thanks for your tool btw

[2019-04-30 14:24] #175 closed

[2019-04-30 17:37] #152 closed

[2019-05-04 15:46] jamesbuettner commented on #174
Following your Contributions guide, getting 403 pushing branch. Can I get access to create the PR?

[2019-05-04 22:17] frederikprijck opened #176 "Installing playground in a separate app"
### Versions
angular-playground: 6.4.1
@angular/cli: 7.1.4

### Repro steps

I think there are two scenario's that lead to a different error, originating from the same problem.

**Without any existing projects**
- Create a new Angular application using the following command: `ng new myApp --createApplication=false`
- Install Angular Playground using `ng add angular-playground`

The console shows t

[2019-05-07 03:46] timstoddard commented on #174
Hi @jamesbuettner, did you fork the repo before making changes and pushing your branch? We have it set up so you can't just clone this repository and push that way, you need to fork it to your Github account and push the branch from there.

[2019-05-10 20:39] #176 closed

[2019-05-16 13:21] FDIM opened #179 "add support for Angular 8"
### Versions
[code]

[code]

### Repro steps

* Step 1 upgrade project to angular 8
* Step 2 npm run playground

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)
As it is now, I had to prefix paths with `!raw-loader!` when importing static html content (old templates)

[2019-05-16 16:56] timstoddard commented on #179
Hi @FDIM, thanks for the issue! We're planning to support Angular 8 in Playground once it is released (should be next week according to [Igor](https://twitter.com/IgorMinar/status/1121676911552262145)).

[2019-05-20 20:32] #143 closed

[2019-05-27 12:00] korenb opened #181 "Host configuration"
Hello!

It would be nice option to add **host** setting to the configuration. It's like `--host={address}` setting in the Angular CLI.

Why? I want to set this setting to `0.0.0.0` to listen all network interfaces over home wi-fi to have ability to connect to sandbox from mobile device.

[2019-05-29 21:57] ddehghan opened #182 "--check-errors often fails with empty error list"
Hi guys,

Our CI build often fails with an empty list of errors. We just rerun it and then it succeeds. We attempted to increase the timeout to 180 sec but that does not make a difference.

it does not seems that there is any actual error. And the same code succeeds when we run it again. which component it fails on is also random.

Any ideas we can try?

Thanks in advance

### Versions
[code]

###

[2019-05-31 05:07] EigenTheorist opened #183 "[enableIvy] There is no format with import statements...'node_modules/angular-playground' entry-point."
### Versions
[code]

[code]

### Repro steps

* Step 1
Enable Ivy Compiler
[code]
* Step 2
npm run playground

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)
If disabling Ivy all is well.

[2019-05-31 05:13] EigenTheorist commented on #179
I submitted #183, generally in the same ng8 category but a different error. Do we need to combine?

[2019-05-31 17:22] timstoddard commented on #179
@EigenTheorist I think your issue will be solved once we upgrade Playground to v8. We are currently working on upgrading Playground and testing it with our internal applications, so we will put out a v8-compatible release as soon as possible.

[2019-05-31 17:24] timstoddard commented on #182
Hey @ddehghan, thanks for the issue! We'll look into this soon. As always, if you'd like to submit a PR that fixes this, we'll be happy to help you merge it!

[2019-05-31 17:38] timstoddard commented on #181
Hey @korenb, thanks for the issue! We've decided to add the option you suggested, and will begin work on it soon. As always, feel free to submit a PR for it if you'd like it done sooner.

[2019-05-31 21:01] ddehghan commented on #182
Thanks for looking at it.

I think the problem is here:

https://github.com/SoCreate/angular-playground/blob/74a8727b9966e9e2e3a1df1151e1117201f6ffbd/packages/angular-playground/cli/src/check-errors/verify-sandboxes.ts#L140

My guess is that you are probably capturing some other system events errors and try to add it to the errorReporter and don't succeed and probably then insert nulls in the arra

[2019-06-02 07:25] arindamdawn opened #184 "Sandbox component with a reactive form"
### Versions
[code]
5.5.0
[code]
Angular CLI: 8.0.1
Node: 10.16.0
OS: win32 x64
Angular: 8.0.0
... animations, cdk, common, compiler, compiler-cli, core, forms
... language-service, material, platform-browser
... platform-browser-dynamic, router, service-worker

Package                           Version
-----------------------------------------------------------
@angular-devkit/architect         0

[2019-06-02 07:27] arindamdawn commented on #184
Here is my desired behaviour screenshot. Due to some reasons, the image is not loading in my previous comment.
![Capture](https://user-images.githubusercontent.com/8149198/58758233-e730b280-8535-11e9-8e8d-ec67b3e16ddb.PNG)

[2019-06-03 11:39] #184 closed

[2019-06-05 01:34] timstoddard commented on #183
@EigenTheorist this should be fixed once my PR to upgrade playground to angular 8 is deployed. If it's still broken, feel free to reopen.

[2019-06-05 01:34] #183 closed

[2019-06-05 07:15] seaBubble opened #187 "Cannot run Angular playground in specified port"
### Versions
[code]

[code]

### Repro steps

* ng add angular-playground
* npm run playground
prints
Successfully compiled sandbox files.
[ng serve]: Port 4201 is already in use. Use '--port' to specify a different port.
[ng serve]:
Error: Port 4201 is already in use. Use '--port' to specify a different port.
    at Server.server.once (<...>/node_modules/@angular-devkit/build-angular/src/angular-

[2019-06-05 09:28] ciesielskico opened #188 "Angular 8: reloading after saving changes causes Playground to go back to root"
### Versions
[code]

[code]

### Repro steps

* Step 1
Create sandbox component
* Step 2
Open the component in the playground
* Step 3
Make changes to the sandbox or the component to cause the playground to refresh

### Observed Behavior

The playground does not reopen the component and goes back to root, which causes me to have to open the sandbox back again,

### Desired Behavior
[code]

### Any

[2019-06-05 18:13] timstoddard commented on #188
Hi @ciesielskico, it sounds like you need to use the `RouterTestingModule` instead of the `RouterModule`. For more info about this problem, please see [our documentation](https://angularplayground.it/docs/getting-started/faqs).

[2019-06-05 18:21] timstoddard commented on #187
Try using the `--ng-cli-port` flag instead of `--port`. We pass that value to the cli's port flag under the hood.

For more info, check out the `angularCli.port` flag on our [config page](https://angularplayground.it/docs/api/configuration).

[2019-06-05 19:49] #182 closed

[2019-06-05 20:10] #179 closed

[2019-06-05 23:44] #181 closed

[2019-06-06 09:12] FDIM commented on #179
Thanks for quick update to angular 8!

Unfortunately original issue I've reported still persist, but most likely because we use commonjs module type. We still have some old code that relies on `require` and on top of that lodash usage (e.g. `import debounce = require('lodash/debounce');`)

[2019-06-06 10:07] ciesielskico commented on #188
Yes, that was it. Didn't see the FAQ, thanks!

[2019-06-06 10:07] #188 closed

[2019-06-06 16:55] timstoddard commented on #179
I see your original comment was using Playground 5.1.3. We are now on 5.7.0 (released yesterday), have you tried with the latest version?

The error you are seeing looks like an issue with the webpack loaders that the ng dev server uses under the hood. I'm not sure what your tsconfig looks like but maybe it's something to do with that? If it helps, we use `"moduleResolution": "node"` and `"target"

[2019-06-06 18:09] FDIM commented on #179
I've tried with 5.6.0, npm did not find 5.7.0 version.

We also have `'module': 'commonjs' ` tsconfig.

Anyway, I'll play around more when I get to work on next week

[2019-06-06 18:13] timstoddard commented on #179
I just checked our tsconfig, we use `"module": "esnext"`. If you're still having trouble after you work on the problem some more, feel free to open a new issue as this one is closed.

[2019-06-06 18:15] timstoddard commented on #174
Hey @jamesbuettner, did you have a chance to try the steps I gave in my previous comment? Are you still interested in submitting a PR to Playground?

[2019-06-11 21:20] ddehghan commented on #182
Thank you guys for fixing this.

[2019-06-13 15:40] andresgardiol opened #193 "Uncaught Error: Your configured selector (app-root) does not match your app root selector."
### Versions
[code]

[code]

### Repro steps

* Step 1
First run `ng add angular-playground`
* Step 2
Run `npm run playground`
* Step 3
Added a custom SDK to process online payments in a "PaymentService":

[code]
### Observed Behavior
[code]
When I navigate to `http://127.0.0.1:4201/?scenario=.%2Fapp%2Fcomponents%2Fshared%2Fwizard-payment%2Fwizard-payment.component.sandbox/Default%20Wizard-payment

[2019-06-13 21:16] timstoddard commented on #193
Hi @andresgardiol,

`PlaygroundModule.configure` is only intended to be run once. Does the SDK script do something to reload the page? That's the only way I can think of that `main.playground.ts` would be run more than once.

[2019-06-14 16:36] andresgardiol commented on #193
Thanks for your answer. I'll see if that may be the problem

[2019-06-20 17:29] sroettering commented on #183
Today I created a fresh angular 8 project with ivy enabled and got the same error
[code]

[code]
So I guess the PR did not fix that.

I don't know if it's important but I created the project with Nrwl's Nx.

[2019-06-30 20:24] vorant94 opened #199 "Can't run the playground"
### Versions
[code]

[code]

### Repro steps

* Step 1 npm install angular-playground
* Step 2 npm run playground

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)

[2019-07-03 20:30] lurock commented on #199
Have you tried installing it with these instructions:  https://angularplayground.it/docs/getting-started/angular-cli

[2019-07-05 23:12] walrus95 commented on #199
I'm experiencing the exact same issue, and I did use "ng add angular-playground" in setting up my project.

[2019-07-09 13:18] poul-kg commented on #199
Is there way to configure paths for `tsconfig.json`, `tsconfig.app.json` etc, files? Looks like this is the issue.

[2019-07-17 15:21] n-gottschalt commented on #199
Angular 8 moved the location of tsconfig.*.json to the root. I got it to work by updating the playground project in angular.json to point to this new location.

[2019-07-17 22:14] arroyocode commented on #199
Thanks @n-gottschalt  @poul-kg for the tip. Acknowledge the issue and are working on a fix.

[2019-07-19 00:11] arroyocode commented on #199
Issue fixed in 6.0.1 merged today.

[2019-07-19 00:11] #199 closed

[2019-07-19 16:34] arroyocode commented on #187
@seaBubble Would you mind confirming if @timstoddard 's comment resolved your issue so we can mark this issue closed.

[2019-07-20 00:23] arroyocode commented on #193
@andresgardiol Curious if @timstoddard 's suggestion helped resolve your issue so we can close this issue?

[2019-07-20 00:27] arroyocode commented on #174
@jamesbuettner Following up if you're still interested in submitting a PR via fork from your own Github account?

[2019-07-20 00:28] #19 closed

[2019-07-20 00:31] #97 closed

[2019-07-22 15:39] arroyocode commented on #193
Hello @andresgardiol  , we've closed the issue because there has been no response. Thank you for your interest in Angular Playground!

[2019-07-22 15:39] #193 closed

[2019-07-22 15:40] arroyocode commented on #187
Hello @seaBubble , we've closed the issue because there has been no response. Thank you for your interest in Angular Playground!

[2019-07-22 15:40] #187 closed

[2019-07-22 15:46] arroyocode commented on #121
Hiya @bengry . Thank you for your interest in Angular Playground. We don't have a need for HMR internally and currently have no plans to integrate such a feature.

[2019-07-22 15:46] #121 closed

[2019-07-22 15:54] arroyocode commented on #125
Hiya @GrandSchtroumpf . Thank you for your interest in Angular Playground. We don't envision building any form of a visual component builder in the future.

[2019-07-22 15:54] #125 closed

[2019-07-22 16:00] arroyocode commented on #174
Hiya @jamesbuettner . We've reached out a few times to confirm your interest in submitting a PR and haven't been able to connect with you so we're closing this issue. Thank you for your interest in Angular Playground and the dialog in this issue.

[2019-07-22 16:00] #174 closed

[2019-07-22 23:27] arroyocode commented on #142
Issue related to dynamically loading modules (see [#9825](https://github.com/angular/angular-cli/issues/9825#issuecomment-388728694)).

Re-creating sample project as an Angular 8 CLI project with Angular Playground >= 6:

[code]

[code]

now produces different behavior (`Failed to load resource: the server responded with a status of 404 (Not Found)`) when running `ng serve` or `npm run playground`

[2019-07-22 23:27] #142 closed

[2019-08-02 09:03] markfknight opened #203 "[enableIvy] ERROR in Attempted to get members of a non-class "SandboxBuilder""
### Versions
[code]

[code]

### Repro steps

* Enable Ivy

[code]

* ng build / ng build --prod

### Observed Behavior
[code]

Same output for ng build, ng build --prod and running angular-playground

### Desired Behavior

For the build to succeed and/or playground to run.

### Any other details that may be useful (optional)

[2019-08-02 22:49] arroyocode commented on #203
Hello @markfknight . We currently do not use the Ivy preview functionality in any of our builds internally. We discussed the issue internally and I'm afraid this is not something we plan to support until the official release of Ivy although we're very open to a contribution that resolves the issue in the interim if you're interested including kudos in changelog, etc.

[2019-08-02 22:49] #203 closed

[2019-08-03 21:51] Tanmay-tfc commented on #164
Could you give some code for calling the service's method in the sandbox component's context?

[2019-08-07 02:34] arroyocode commented on #164
Hiya @Tanmay-tfc . Thanks for your interest in Angular Playground. In response to your request, we added some [sandbox service dependency mocking documentation](https://angularplayground.it/docs/how-to/mock-service) earlier today. Hope this helps you.

[2019-08-07 13:16] Tanmay-tfc commented on #164
Thanks a lot @arroyocode , this was really helpful. There's one scenario that I needed a little helping with:
I have a modal component that can be opened on-demand by calling the modal service's open method. To check this functionality, I have a button in my sandbox, on-click of which I wanted to open the modal(by calling the service's method).
So do I need create a mockModalService with the actua

[2019-08-07 20:08] arroyocode commented on #164
@Tanmay-tfc As described by @timstoddard above, you can inject your service in your sandbox config. If you need further assistance, we'd appreciate you setting up a github repository demonstrating the issue that we can clone and provide direction/suggestions. Thanks again for your interest in Angular Playground.

[2019-09-24 07:49] Halt001 opened #204 ""Cannot read property 'find' of undefined" during installing Playground"
### Versions
[code]

[code]

### Repro steps
1. ng new my-project --createApplication=false
2. cd my-project
3. ng g library my-lib
4. ng g application my-lib-tester
5. ng add angular-playground

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)
The problem has something to do with the workspace being created empty and that a lib and app

[2019-09-25 09:56] wroobell94 opened #206 "Possibility to use template and styles instead of templateUrl and styleUrls"
### Versions

angular-playground version ``` 5.2.0 ```

Output from: `ng --version`.

[code]

### Repro steps

I need the playground in a big app. Im yousing both Angular JS ang new Angular in my app. That effects with using ```template``` and ```styles``` instead of ```templateUrl``` and ```styleUrls```.
The styles and template are imported like
[code]

Is there a possibility to use that with the

[2019-09-25 23:11] #204 closed

[2019-09-26 04:34] Halt001 commented on #204
Nice! Thx..

[2019-09-27 13:11] StephenCooper opened #207 "Angular peerDependencies cause ng update issues"
### Versions
[code]

[code]

### Repro steps

[code]
### Observed Behavior
[code]

### Desired Behavior
Can run ng update without encountering these issues incompatibility issues. Would it be possible to change the package.json peerDependencies for Angular to be slightly more restrictive and not move onto version 9 next?

Currently they are >=7.0.0.
[code]
Would something like 7-8 be more suitable

[2019-09-27 14:36] StephenCooper commented on #207
There are a lot of packages which share this behaviour so potentially not that much value in making the change. Seems to be a wider issue at the moment which maybe should be solved by the angular cli team.

[2019-09-27 14:36] #207 closed

[2019-09-28 09:11] unlight opened #208 "[ng serve]: ERROR in Failed to compile entry-point angular-playground"
[ng serve]:
ERROR in Failed to compile entry-point angular-playground

### Versions
[code]

[code]

### Repro steps
* Follow https://angularplayground.it/docs/getting-started/angular-cli

### Observed Behavior
[code]
### Desired Behavior
No errors

[2019-10-01 20:55] timstoddard commented on #206
Hi @wroobell94, this feature has been requested before (#97) and the SoCreate team does not have any plans to implement it. However, if you would like to submit a PR that adds this functionality, we would be happy to work with you to merge it in.

[2019-10-01 20:55] #206 closed

[2019-10-01 21:01] timstoddard commented on #208
Hi @unlight, it seems your error is due to you using the preview version of Angular v9. At this time, Playground only supports up to Angular v8. We will update Playground to work with v9 once it is released.

[2019-10-01 21:01] #208 closed

[2019-10-07 14:00] vallyian opened #210 "Should allow extra chromium flags via the config object (e.g. --window-size:800,600)"
https://github.com/SoCreate/angular-playground/blob/119e5817341f5c5f5fba15f9043397e71b1f5407/packages/angular-playground/cli/src/check-snapshots.ts#L41

[2019-10-07 14:03] vallyian commented on #210
This is needed for all responsive pges. The extra flags could be either passed on from the CLI, or set in the config, or both.

[2019-10-07 14:08] vallyian commented on #210
Form a config point of view, this could also be abstracted out into a "break-points" prop in the config, with "widths" and "heights" arrays and run the regression against all given sizes.

[2019-10-07 15:09] grant-wilson commented on #210
This is essential for the visual regressions utility. Further, the snapshots should be compared by size. To expand on what @vallyian is saying, it seems like a key path scenario to want to test your sandbox scenarios against different breakpoints, or simulated device ratios. Bare-bones this would mean providing a width and height config option (and making sure snapshots are compared in kind). Even

[2019-10-08 14:24] WojtekWZ opened #211 "ng add angular-playground doesn't configure tsconfig.app.json path properly."
### Versions
[code]

[code]

### Repro steps

* Step 1 : on a windows machine create a new project
* Step 2 : add angular-playground to it using the recommended cli method `ng add angular-playground`
* Step 3 : create a basic sandbox and run `npm run playground`

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)

The path to `tsconfig.ap

[2019-10-08 20:22] timstoddard commented on #211
What command did you use to create your project? I tried to reproduce your issue using the following commands but it ran fine on my Windows machine.
[code]

[2019-10-08 21:16] timstoddard commented on #210
Hi @vallyian, thanks for the great suggestion! After discussing this, we have decided to move forward with adding this feature. It will be a little while before it gets added, so if you'd like to see this feature added quickly, we're happy to help you merge in a PR from you.

[2019-10-09 08:08] WojtekWZ commented on #211
The project I've found the issue on was started by my colleague so I've tried to reproduce it from the start.

Here are the results, I didn't even have to create any component or sandbox :

https://pastebin.com/vKKB77F7

If you need any more info let me know.

[2019-10-09 09:43] WojtekWZ commented on #211
I've fully  cleaned up my npm to make sure the package versions were correct and looks like version mixup was the reason.

[2019-10-09 09:43] #211 closed

[2019-10-12 17:51] gbenthomas opened #213 "node-gyp/python requirement during npm install"
### Versions
6.0.3+

### Repro steps
Without python installed:
`ng new test-angular`
`cd test-angular`
`npm install angular-playground`

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)
I believe this is caused by the update to jest packages.

Thanks for your time and support!

[2019-10-12 17:56] timstoddard commented on #213
Hi @gbenthomas, it looks like node-gyp is unable to find python in your path. (`Error: Can't find Python executable "python", you can set the PYTHON env variable.`)

Have you tried reinstalling python, and checking that the python env variable is set?

[2019-10-12 18:03] gbenthomas commented on #213
Hi @timstoddard, I actually don't have python installed. My point was that python is a new requirement since 6.0.3. It worked fine with 6.0.2. Is there any way to keep the same behavior as before? This will require updates to our CI pipeline as well in order to install python.

Ideally, we would like to depend on a prebuilt binary instead of building the native modules ourselves (especially since

[2019-10-12 18:21] timstoddard commented on #213
6.0.3 included updating several of our dependencies to the latest version. The requirement to have python installed comes from node-gyp, which is not one of our direct dependencies. I would recommend filing an issue with the node-gyp repo asking if it's possible to install it without python, as they will know more about it than I.

Closing since issue this is not caused by Playground.

[2019-10-12 18:21] #213 closed

[2019-10-16 17:30] timstoddard opened #214 "use official cli way of adding playground to dev deps on ng add"
### Desired Behavior
Use the CLI's new way of defining how a package installed with "ng add" should be stored in the package.json.
[Original bug report](https://github.com/angular/angular-cli/issues/12003)
[PR with fix](https://github.com/angular/angular-cli/pull/15815)

Since we want to save Playground in the devDependencies, we can now simply add to our package.json:
[code]
Also we can get rid o

[2019-10-16 23:25] timstoddard commented on #213
Hey @gbenthomas, just wanted to reach out since we found what we think is the best way to work around this issue. Basically, there's no way to solve this without installing Python and MS build tools. The steps are as follows:
- install python and add it to path
- install latest version of ms build tools
- run the command: `npm config set msvs_version 2019`

[2019-10-21 10:24] dgp-web opened #215 "--check-errors and --check-visual-regressions only work with angular-cli"
### Versions

[code]

[code]
### Repro steps
* Step 1: Add angular-playground to NON-cli project as described here https://angularplayground.it/docs/getting-started/non-angular-cli
* Step 2: Run ```angular-playground --check-errors``` or Run ```angular-playground --check-visual-regressions```

### Observed bevahior
[code]

### Desired Behavior
The awesome testing scripts should be executable even

[2019-10-21 22:49] timstoddard commented on #215
Hi @dgp-web, this feature is not on our roadmap so we do not plan to implement it. However, if you would like to submit a PR that fixes this issue, we will be happy to help you merge it into Playground.

[2019-10-21 22:49] #215 closed

[2019-10-22 05:09] dgp-web commented on #215
Hi @timstoddard, thanks for answering. I had assumed that it was not possible.

It would be helpful to indicate on the homepage that @angular/cli is required for the testing features. I was browsing through https://angularplayground.it/docs/api/configuration and the **build** command is annotated with (Requires @angular/cli and @angular/service-worker). These tiny inconsistency caused me to try fo

[2019-10-30 20:43] grantwhiting opened #216 "Allow verify-sandboxes build to run on a specified directory"
It would be nice to be able to run the verify-sandboxes build on a specific directory or a group of sandboxes rather than always on the entire set of sandboxes.

[2019-11-04 21:58] timstoddard opened #222 "make visual regression sleep duration configurable"
### Desired Behavior
Make an option called `visualRegressionSleepDuration` that sets the amount of time to wait after Angular loads the component and all the network requests are idle. Defaults to 100ms.

[2019-11-08 01:22] timstoddard commented on #215
Thanks for the suggestion about the docs. I am working on updating the labels for checkErrors and checkVisualRegressions, and the site should be updated shortly.

[2019-11-08 06:24] guikeller opened #224 "Build without service-worker?"
Hi guys,

Is it possible to 'build for production' without the use of service-workers?
If so could you please give some more info on how to do that?
I would even be happy with 'debug' JS files.

Our current project does not use service-workers.
We also have no intention of using it at this stage.

Cheers! :+1:

[2019-11-13 00:23] guikeller commented on #224
I got it to build for prod using service-workers, but I cannot display any of the sandboxes that I have created. As that is a different issue I should raise a bug, but as this was a timeboxed exercise we won't be going ahead with angular-playground anymore. Closing this issue, cheers.

[2019-11-13 00:23] #224 closed

[2019-11-13 19:31] timstoddard commented on #224
Hi @guikeller, I'm sorry to hear that Playground was unable to meet your development needs. I just submitted a PR that makes service workers optional (updated documentation coming soon), so it should work for your case once the PR is merged in if you want to give Playground another shot.

[2019-11-14 01:45] guikeller commented on #224
Hi @timstoddard

I actually could not get the sandbox component to display.
I will raise a bug, so you guys will be able to replicate it.

Cheers

[2019-11-14 02:16] guikeller opened #226 "Not able to Sandbox Component"
### Versions
[code]

[code]

### Repro steps
* Step 1 - Download the _Tour Of Heroes_ completed solution
https://angular.io/tutorial ( see "SOLUTION" zip )
* Step 2 - Add `Playground` to the project
[code]
* Step 3 - Create a simple card component:

On a CMD/Shell/Terminal
`ng g c card`

`card.component.html`
[code]
`card.component.css`
[code]
`card.component.ts`
[code]
* Step 4 - Create the sandb

[2019-11-14 22:19] timstoddard commented on #226
Hi @guikeller, the playground command is supposed to be run through npm. Try running `npm run playground`, as shown in our [docs](https://angularplayground.it/docs/getting-started/angular-cli). I was able to reproduce your issue and that fixes it.

[2019-11-14 23:36] guikeller commented on #226
Hi @timstoddard

Thanks for looking into this.

https://angularplayground.it/docs/how-to/run-the-cli
Says that I could simply run `angular-playground`, did I misunderstand that?

In addition to that, when you _build for production using service workers_ you will see the same behaviour that I have described above - JS/TS Error.

Cheers! :+1:

[2019-11-18 06:34] guikeller commented on #226
Hi @timstoddard

Any chance that this can be reopened as it still happens when you build for prod?

Cheers! :smiley:

[2019-11-22 01:13] timstoddard opened #227 "add ts compilation quick fail and improve performance of check errors build"
copy the ts compilation quick fail and better perf functionality from the visreg build to this one. better yet, it should probably be moved into an external function, would be useful if we ever add another "check all sandboxes for ___" build feature.

[2019-12-02 19:56] SonyStone opened #228 "Make Jest dev-dependency?"
After update angular-playground it start using `weak-napi`, which using `node-gyp`, which using `Python` which makes Docker unhappy
![image](https://user-images.githubusercontent.com/8790196/69990265-67bc8400-1556-11ea-9398-15de51546483.png)
![image](https://user-images.githubusercontent.com/8790196/69990496-d8fc3700-1556-11ea-87ba-d41bca9aaa93.png)

https://github.com/SoCreate/angular-playground/

[2019-12-02 20:15] timstoddard commented on #228
Hi @SonyStone, we actually need jest for several of the core features of Playground, so it cannot be moved to the dev deps. You need to install Python in your docker image and then it should work.

[2019-12-03 20:36] SonyStone commented on #228
Hi @timstoddard, thanks for quick answer.
Cannot angular-playground use those features directly, without need of jest?
Jest is pretty big dependency for "several" features. What are those features?

[2019-12-04 18:28] timstoddard commented on #228
Yes, it is needed for the visual regression features. Many people requested the ability to test their sandbox scenarios for visual regressions, so we do not plan to make it an optional dependency. I know it can be frustrating when dependency authors add/change their dependencies, but that is out of our control as we do not develop Jest.

Are you for some reason unable to install Python on your Doc

[2019-12-12 10:46] Terrafire123 opened #229 "[Feature] Generate a form to manipulate components' @input"
Normally, when using Playground, we define scenarios, and then the user can toggle between different scenarios.

It's fantastic..... but

1. it doesn't scale very well, (If a component has many @inputs, there are a **lot** of possible scenarios.)
and
2.  and is a bit limiting.

Instead of creating scenarios, I'd like to dynamically create a form based upon the @inputs of the Component, and the use

[2019-12-12 17:29] lurock commented on #229
I don't completely understand what you are trying to accomplish.

[2019-12-13 07:00] suryasarafe opened #230 "Cannot install Angular-Playground"
### Versions
[code]

[code]

### Repro steps
* Step 1
`ng new myproject`
* Step 2
`ng add angular-playground` (not working)
and
`npm i angular-playground` (not working)
* Step 3
`npm install --save core-js@^3`
then repeat step 2

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)
thank you

[2019-12-13 18:21] timstoddard commented on #230
Hi @suryasarafe, it looks like node-gyp is causing issues. See [this comment](https://github.com/SoCreate/angular-playground/issues/228#issuecomment-561777886) for how to fix it. Let us know if that does not work for you.

[2019-12-16 07:29] Terrafire123 commented on #229
**Normally**, when using Playground, we define scenarios, and then the user can toggle between different scenarios.

But that's
1. It's a bit too limiting,
and
2. It doesn't scale well at all.

Instead of creating scenarios, I'd like to dynamically create a form based upon the @Inputs of the Component, and the user can modify the form in order to modify the @Inputs of the component.

Something sim

[2019-12-17 02:41] JustinCouto commented on #229
Hey @Terrafire123,

Thanks for clarifying and for sending a YouTube video to make it even more clear.  This seems like it would be a perfect plug-in for Playground.  Unfortunately, Playground currently does not have a plug-in system.  It is something we have talked about building at some point, however, it is not on our immediate road map.  With that being said, we are definitely open to people su

[2019-12-17 02:41] #229 closed

[2019-12-23 09:32] suryasarafe commented on #230
Hi @timstoddard, thanks for your answer, now it working. (but so many app installed that i don't know what and why it's there)

But Thank you.

[2019-12-23 09:32] #230 closed

[2020-01-08 23:56] #210 closed

[2020-01-10 11:38] andreaslarssen opened #233 "Error when running add angular-playground"
### Versions
[code]

[code]

### Repro steps

* Step 1
[code]
* Step 2
[code]

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)

[2020-01-10 12:14] andreaslarssen commented on #233
EDIT: This also happen when I create a workspace w/ an app.

The "/tmp/ng-8ll8s6/angular-errors.log" log:
[code]

[2020-01-10 15:56] craigbroadman opened #234 "Mock an Angular Service to return a different response"
### Versions
6.1.2

### Repro steps

* I have an Angular Component using ngOnInit - this calls an Angular Service that in turn makes a Http Call to update a user record in the database
* The Service a further 9 functions to do different things
* The API has all the information it needs in Claims, there are therefore no parameters passed to the Angular Service and no parameters passed to the API
*

[2020-01-10 18:34] lurock commented on #234
The only way I can think of to accomplish what you are trying to do is to provide a different mock service for each scenario.  You could use the same mock service wrapping it in a factory method that could return a different result in each scenario.  That way you only have to have a single mock service.

Mock Service:

[code]

Sandbox Example:

[code]

[2020-01-10 18:40] craigbroadman commented on #234
Perfect, that's a great option. Thanks

[2020-01-10 18:40] #234 closed

[2020-01-10 19:17] lurock commented on #233
You must have an app to install Angular Playground into your workspace.  If you do not when installing it returns a message saying "Your app must have at least 1 project to use Playground."

I have tested the following installations and here was my results:

[code]
### Test create workspace without app

Commands Run:
[code]

Results:

[code]

### Test create workspace with app

Commands Run:
[code

[2020-01-10 19:17] #233 closed

[2020-01-10 19:22] #228 closed

[2020-01-13 09:13] andreaslarssen commented on #233
Yeah, when I run add angular-playground, I get the first line, but then the error listed above. If I run it again, it installs, but has not finished the firste step.

Anyways, I've moved on to Storybook.

[2020-01-23 09:09] dexster opened #235 "Angular Ivy inner class declaration"
### Versions
[code]

[code]

### Repro steps
1. clone this repo.
2. ng update @angular/core@8 @angular/cli@8 in cli-example folder
3. ng update @angular/core @angular/cli --next in cli-example folder
4. add main.playground.ts to files section in tsconfig.app.json in cli-example folder
5. build and run

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be use

[2020-02-08 19:33] Arnaud73 commented on #235
This problem also occurs with Angular 9.0.1.
It happens sooner if you add `ngcc` as a postinstall script : it occurs while compiling angular-playground after installing all NPM modules.

[2020-02-09 22:53] custompro12 commented on #235
Seeing the same issue.  Can't use Angular Playground with Angular 9

[2020-02-10 08:10] jrdutton commented on #235
I'm also seeing this issue

[2020-02-10 18:13] digovc commented on #235
Same here after update my library to Angular 9.

![image](https://user-images.githubusercontent.com/4752596/74177031-a8e8a880-4c17-11ea-9149-5f64c8e50e55.png)

[2020-02-11 20:15] ElderOrb commented on #235
I've managed to workaround the issue by using this:

  "angularCompilerOptions": {
    "enableIvy": false, /* for playground */
  }

[2020-02-15 09:58] wduminy opened #236 "Unknown module error: PlaygroundModule"
I get an error when trying to run the playground on my angular 9.0.2 application.

### Versions
[code]

[code]

### Repro steps
* `ng new`
* `cd newProject`
* `ng add angular-playground`
* `npm run playground`

### Observed Behavior
[code]

### Desired Behavior
Web application at `http://127.0.0.1:4201/` to work

[2020-02-15 16:34] JustinCouto commented on #236
We are working on updating Playground to Ivy.  In the meantime, in your Playground config you can turn off the Ivy compiler just in your Playground app and that should work for you.  Your app can still be configured for Ivy.

[2020-02-17 19:17] ElderOrb opened #238 "Is it possible to navigate between sandbox components from code?"
For example is it possible to navigate from sandbox of component 'demo' to sandbox of component 'login' like this:

this.router.navigate(['login']);

?

[2020-02-19 09:13] jrdutton opened #239 "Module not found, playground.module.d.ngfactory, with Angular 9 without Ivy"
### Versions
[code]

[code]

### Repro steps
I've updated an existing project from Angular 8 to Angular 9.
I have switched Ivy off.
Please find below my tsconfig.playground.json file.

`{
    "extends": "../tsconfig.json",
    "angularCompilerOptions": {
        "enableIvy": false
    },
    "compilerOptions": {
        "outDir": "../out-tsc/app"
    },
    "files": [
        "src/main.ts",

[2020-02-21 16:39] jrdutton commented on #239
Setting enableIvy to false and aot to false fixes this issue

[2020-02-21 16:39] #239 closed

[2020-02-24 11:06] wisespace-io opened #240 "xxxx.sandbox.ts is missing from the TypeScript compilation."
### Versions
[code]

[code]

### Repro steps

* ng add angular-playground
* npm run playground
* add a .sandbox.ts file to the project

### Observed Behavior
notifications.component.sandbox.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property.
    at AngularCompilerPlugin.getCompiledFile (...\node_modules\@ngtools\webpack\src\

[2020-02-24 12:20] #240 closed

[2020-02-27 08:04] oschlegel opened #241 "Check errors script doesn't fail when playground unable to build"
### Versions
[code]

[code]

### Repro steps
* Write some error which causes the playground build to fail
* Start playground with `angular-playground --config ./location/to/angular-playground,json --check-errors --random-scenario`

### Observed Behavior
Starting playground with option `--check-errors`. Build starts and fails due to some mistake in script. Checks still run and don't exit with error

[2020-03-05 08:48] ddehghan commented on #222
Yes. this is very much needed. we sometime get blank screens and I think that is a timing issue. Since we run this regression test offline we can afford giving it much more time to finish to account for the CPU load on the build server.

[2020-03-05 19:02] lurock commented on #226
@guikeller are you still having this issue?

[2020-03-05 19:05] lurock commented on #238
No this is not something that works and we do not have any plans to make this work that way.

[2020-03-05 19:05] #238 closed

[2020-03-05 19:14] lurock opened #242 "Upgrading to work with Angular 9 and Ivy Compiler"
#241 #236 #235 #227  should all be fixed as part of this upgrade.

[2020-03-06 20:51] #214 closed

[2020-03-06 20:51] #216 closed

[2020-03-06 20:51] #222 closed

[2020-03-06 20:54] #242 closed

[2020-03-06 20:55] #241 closed

[2020-03-06 20:55] #236 closed

[2020-03-06 20:56] #235 closed

[2020-03-06 20:57] #227 closed

[2020-03-07 21:53] ElderOrb opened #245 "How to migrate from 6.x to 7.0 properly?"
I've tried to just npm upate  - it didn't download 7.0
Then I tried to change "angular-playground": "^6.2.0" to "angular-playground": "^7.0.0" and then do 'npm update' - but in this case npm run playground fails.

Any hints?

[2020-03-09 01:12] lurock commented on #245
You need to run "ng update angular-playground"

[2020-03-09 09:55] ElderOrb commented on #245
Unfortunately the same error:

[code]

[2020-03-09 14:20] lurock commented on #245
Make sure all your files match the files in the in-depth explanation of the configuration section on this page of the docs.

https://angularplayground.it/docs/getting-started/installation#show-more

Also what version of node, Angular, and Angular CLI are you running?

[2020-03-09 19:17] ElderOrb commented on #245
Here is 'ng version' output:

Angular CLI: 9.0.5                                                                                                                                            Node: 13.10.1                                                                                                                                                 OS: win32 x64

[2020-03-09 19:50] lurock commented on #245
I would remove the manual adjustments and make sure all the files match the files in the in depth configuration.

You can also try removing the angular-playground package and configuration added by angular playground which is documented in the in-depth configuration.  Then try installing it fresh using "ng add angular-playground".

[2020-03-09 19:54] ElderOrb commented on #245
Just tried to remove & install - now it works. But. For some reasons 'ng add angular-playground' didn't change playground version in package.json (I had to do it manually later), although it did regenerate a few .ts files.

So I  did like this:
1.) Try 'ng add angular-playground'.
2.) Remove files / entries in angular.json disallowing previous command to succeed
3.) Repeat 1/2 till 1 succeed
4.) C

[2020-03-09 19:57] ElderOrb opened #246 "Add version information into main page of playground"
This might be useful to understand which version of playground is currently used / ensure upgrade really happened.

[2020-03-09 20:16] ElderOrb opened #247 "Is it possible to use HttpClientTestingModule with playgrounds?"
I need to make a playground for component which has some httpClient-related code inside, not isolated to service. While I understand that extracting it to service might be much cleaner solution, still curious whether it is possible to mock httpClient itself.

If possible, can you please share a few lines of code showing how exactly?

[2020-03-09 21:25] smschrader opened #248 "NGCC fails due to multiple "package.json" files in the published module."
### Versions
[code]

[code]

### Repro steps
Problem was encountered while migrating a workspace from NG 8.x -> 9.0.5. NG upgrade adds the Angular compatibility compiler (ngcc) postinstall step to run over third party libs rather than letting NG CLI do it at build time.
* "ngcc --properties es2015 browser module main --first-only --create-ivy-entry-points"

Since there is multiple "package.json" f

[2020-03-09 21:52] lurock commented on #247
We have not tried to do that.  We always use services within our components (which is the best practice way of doing it) and mock the services.

[2020-03-09 21:52] #247 closed

[2020-03-09 21:55] lurock commented on #245
Great!  Glad you were able to get it working.

[2020-03-09 21:55] #245 closed

[2020-03-09 21:56] #226 closed

[2020-03-12 10:35] gauravupadhyaya opened #249 "Dynamically changed data in Mocked injected services (like ngRx Store)"
### Versions
[code]

[code]

### Repro steps
* Step 1
Inject ngRx Store
* Step 2
use store$.dispatch() and use store$.select()
* Step 3
Try to create diffrent scenerio with multiple possibilities of returned data of store$.select()

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)

[2020-03-12 16:42] oschlegel opened #250 "Error on post install in nx workspace"
### Versions
[code]

[code]

### Repro steps
- Clone https://github.com/oschlegel/playground-install-issue
-- Or: Create a nx workspace with a angular app and add playground
- Delete node modules and install from scratch

### Observed Behavior
Post installation step throws error:
[code]

### Desired Behavior
- Installation works

### Any other details that may be useful (optional)
- Running `ng ad

[2020-03-25 22:39] #248 closed

[2020-04-28 11:55] maciek134 opened #254 "Error when updating a component"
### Versions
[code]

[code]

### Repro steps
* Install angular-playground into an existing project
* Run `npm run playground`
* Change something in a component or sandbox to trigger a rebuild + reload

### Observed Behavior
[code]

### Desired Behavior
The page should reload and show updated component.

### Any other details that may be useful (optional)
Looks like there is a problem with parsing

[2020-04-28 13:57] clemensul commented on #254
I have the same problem with the same project dependencies.

[2020-05-04 16:14] #254 closed

[2020-06-08 09:09] Quentigus opened #257 "custom appName from angular.json not working"
### Versions
[code]

[code]

### Repro steps

* npm i --save angular-playground (ng add blocked by proxy)
* manual configuration from "Overview of New/Modified Files"
* edit angular.json playground appname
* edit playground appname inside angular-playground.json

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)

[2020-06-08 13:27] willyboy opened #258 "ERROR in No NgModule metadata found for 'PlaygroundModule'"
### Versions
[code]

[code]

### Repro steps

* npm run update to go from Angular 8->9
* npm install angular-playground@7.0.3
* ng serve (outputs the NgModule metadata error)

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)
[code]

[2020-06-08 18:00] lurock commented on #257
I need more details.  Maybe setup an example project in Github and link to it so I can reproduce the issue.

[2020-06-08 21:12] lurock commented on #258
Take a look at the [documentation on the main entry file](https://angularplayground.it/docs/getting-started/installation#show-more) on this page and see if that resolves your issue.

[2020-06-09 15:02] willyboy commented on #258
@lurock Thanks, that fixed it! I could have sworn I checked the docs for any updates before creating this bug (facepalm)

[2020-06-09 15:02] #258 closed

[2020-07-13 11:02] jhyot opened #260 "Testing routerLinkActive"
Is there any possibility to test the routerLinkActive directive with angular-playground?

For this I would somehow need to mock the router, or configure a custom route to be activated upon displaying a component in playground. Obviously by default the route that angular-playground uses does not match the routes in my real application.

[2020-07-13 18:05] lurock commented on #260
The only way to do this is to provide a mock for the Router and control when you want the isActive method to be active.

[2020-07-27 14:50] marklbarlow opened #262 "Fails to find dependencies after upgrade to Angular 10"
### Versions
[code]

[code]

### Repro steps

* npm install
* npm run playground

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)

Error occurs after upgrading an existing project from Angular 9 to Angular 10.

[2020-07-30 16:56] jrdutton commented on #262
Yep, seeing this too

[2020-08-03 13:25] jornare commented on #262
I solved this on my machine by removing the node_modules folder and reinstall `npm i`

[2020-08-03 22:07] jrdutton commented on #262
Sorry, that did not solve it for me

[2020-08-05 03:34] DanWahlin commented on #262
I'm seeing the same error (thanks for mentioning it to me @jrdutton). Cleared node_modules and even package-lock.json to start from scratch but still get the error. Example repo here if interested:

https://github.com/DanWahlin/Angular-JumpStart

[2020-08-05 05:24] JustinCouto commented on #262
Hi All,

Thanks for mentioning this.  We are looking into it.  We are using it with Angular 10 without issues.  We will let you know once we figure it out.  Dan, thanks for the example.  It will help.

Thank you,

Justin Couto
CEO @ SoCreate
________________________________
From: Dan Wahlin <notifications@github.com>
Sent: Tuesday, August 4, 2020 8:34:24 PM
To: SoCreate/angular-playground <angular

[2020-08-05 05:35] lurock commented on #262
Try putting a postinstall in your package.json with ngcc as the command.  In the scripts section of the package.json add "postinstall": "ngcc"

Then delete your node modules and run npm install

[2020-08-05 06:53] DanWahlin commented on #262
Awesome - that fixed it @lurock. Thanks!

[2020-08-05 16:31] #260 closed

[2020-08-28 20:39] lslocum commented on #262
According to this post we should not be setting this post install script. Is there another answer?

[2020-09-03 01:11] lurock commented on #262
Currently this solves the issue for running the Angular Playground.  We do not have another fix at this time.  We are willing to accept pull requests if you have a solution to this issue.

[2020-09-03 13:28] lslocum commented on #262
It is disappointing to hear the solution is something the Angular team says not to do expect in this 1 special use case.

[2020-09-03 17:13] JustinCouto commented on #262
HI @Islocum

As we mentioned we would love to take a pull request from you if you would like to dig in and find an answer to this issue.  Angular Playground is an open-source tool we built and use heavily at SoCreate.  We provide it to the Angular Community as we hope to help other developers be as productive as possible.  We don't make money on the tool.  With that being said, we commit a substan

[2020-09-23 15:15] rekoch commented on #262
I am not sure if this helps to find the cause of the issue. I played a lot round to find when it does happen.
1. create an application with your CLI
2. integrate angular playground as usual with "ng add angular-playground"
3. create at least 1 playground app to test a component
4. try to start playground -> it will usually work as thought
5. delete node-modules
6. reinstall packages with npm insta

[2020-09-23 20:00] lslocum commented on #262
@rekoch This absolutely fixed my problem! Thank you so much for researching this!
![bitmoji](https://sdk.bitmoji.com/render/panel/b6dbf504-c36d-498c-acf9-c7350b749221-56b0b46d-2b2c-4880-8471-7965330c623d-v1.png?transparent=1&palette=1&width=246)

[2020-09-24 00:41] JustinCouto commented on #262
Hey There,

From our understanding, the ngcc will be removed from Angular as soon as libraries support IVY.  At that time, this will no longer be an issue.  If turning off IVY for playground works better for you, thats great.  Thanks rekock for contributing to the conversion.

[2020-11-25 09:37] Halt001 opened #265 "Jest is not in the devDepenendencies"
### Versions

Angular version 10.2
Angular-playground version: 7.1.1

[code]

**Output from: `ng --version:**
Angular CLI: 10.2.0
Node: 14.3.0
OS: darwin x64

Angular: 10.2.3
... animations, common, compiler, compiler-cli, core, forms
... platform-browser, platform-browser-dynamic, router
Ivy Workspace: Yes

Package                         Version
--------------------------------------------------

[2020-12-02 08:40] ringodotnl opened #266 "ERROR angular-playground.ts(10,25) - Error during template compile of 'PlaygroundModule' [0] (7.1.1)"
Error:
ERROR angular-playground.ts(10,25) - Error during template compile of 'PlaygroundModule' [0]   Function calls are not
supported in decorators but 'BehaviorSubject' was called.

after running playground

### Versions
"angular-playground": "7.1.1",
"@angular/core": "10.2.0",

Anyone got an idea to fix this ?

====================
Extra info:

Prev. fixed error:
ng serve]: [0] ERROR in The tar

[2020-12-02 17:28] lurock commented on #266
I have installed the Angular CLI at version 10.2.0 to try to reproduce your issue but did not see a problem.  Here is what I did:

[code]

[2020-12-02 17:35] lurock commented on #265
Jest is a dependency because it is used at runtime when running snapshot regression tests.  Please submit a PR if you would like to get it on the latest version of jest and test the snapshot regression tests are still working with the most current version of jest.

[2020-12-02 17:35] #265 closed

[2020-12-03 08:53] ringodotnl commented on #266
@lurock cheers, I will try to work my way up to see what causing the issue in our project.

[2020-12-17 18:23] #266 closed

[2020-12-17 18:24] #257 closed

[2020-12-17 18:25] #249 closed

[2021-01-12 14:56] georgms opened #267 "How to add a global language selector that can be used in all sandboxes"
Our app has a language selector (simple dropdown with the supported languages). Now, to make sure our components look fine in different languages and locales I would like to add this language selector to the sandboxes.

What I have tried is appending it to the template of the main playground component:

[code]

The language selector roughly looks like this:

[code]

As you can see the injection to

[2021-01-14 01:29] lurock commented on #267
Can you provide and example project?

[2021-01-14 20:16] georgms opened #268 "--check-visual-regressions should fail when some snapshots are missing"
### Versions
[code]

[code]

### Repro steps

* `npx angular-playground --check-visual-regressions` for the first time, ie. with no existing snapshots
* Accidentally delete one of the snapshots.
* `npx angular-playground --check-visual-regressions`

### Observed Behavior

Command does not fail.

### Desired Behavior

Command should fail.

### Any other details that may be useful (optional)

My wor

[2021-02-22 13:12] m-bobrowicz opened #269 ""playground-app" component must have default change detection"
Sandbox drawer is not working if "playground-app" has OnPush change detection.

It would be great if documentation specified this caveat, in FAQs for example.

[2021-03-08 23:23] lurock commented on #269
Thanks for letting us know.  I have updated the FAQs to state we currently do not support OnPush change detection on the app-playground.

[2021-03-08 23:23] #269 closed

[2021-03-08 23:23] #267 closed

[2021-03-08 23:25] lurock commented on #268
We would be open to taking a PR for fixing this issue if you would like to submit one.

[2021-05-13 07:53] jornare commented on #262
Now on ng12, how are we doing here?

[2021-05-13 14:52] JerryDoubleU commented on #262
Haha, not well. Ivy is forced now :)
I had no success running `angular-playground` on ng12.
I'm still looking for some solution, I'll post something if I manage to run it.

[2021-05-13 18:24] jornare commented on #262
Cool, it crashed hard on me to. It hasn't been much activity here lately so maybe it's time to move over to Storyboard since that's what's embraced by nx.

[2021-05-13 19:04] JustinCouto commented on #262
I can assure you we are still putting energy into Playground.  Our entire company is built on top of using it.  Now that ng12 is final, we will be updating it to work on this version.  We are also always open to contributions.

[2021-05-13 20:07] jornare commented on #262
Great to hear @JustinCouto . It's been my favorite so far, especially since it's native Angular.

[2021-05-21 18:46] JustinCouto commented on #262
@jornare @JerryDoubleU Angular Playground has been updated for Angular 12.  Just run ng-update

[2021-05-21 18:52] #262 closed

[2021-05-21 18:53] #268 closed

[2021-05-21 18:53] #250 closed

[2021-05-21 18:54] #246 closed

[2021-05-25 00:52] DanWahlin opened #278 "Getting errors after update to Angular 12 and Angular Playground 8.1.0"
### Versions
[code]

[code]

### Repro steps
* Clone https://github.com/danwahlin/angular-jumpstart
* npm i
* npm run playground

### Observed Behavior

I updated this project to Angular 12 but I couldn't get Angular Playground to work so I removed the original files in the project since `.angular-playground` is used now days for those (the project has been updated many times over the years). I th

[2021-05-25 01:08] lurock commented on #278
I will look into it and get back to you @DanWahlin

[2021-05-25 01:10] DanWahlin commented on #278
Thanks! Probably something I'm doing due to the upgrade (a legacy artifact hanging around or something) but I don't know the playground build process well enough to debug those errors.

[2021-05-25 01:38] lurock commented on #278
Two fixes to get you going:

In the angular-playground.json file change the sourceRoots property value to './src'.  So it should look like this:

[code]

In the main.playground.ts file change the selector to match your root selector of 'cm-app-component'.  So it should look like this:

[code]

[2021-05-25 02:03] DanWahlin commented on #278
That fixes it - thanks. When I wiped out the older playground files and re-ran things I forgot about updating the `main.playground.ts` selector (my bad). I would've have thought to update the the `angular-playground.json` file though since it was added via `ng add` so thanks for the info there. Appreciate it!

[2021-05-25 02:03] #278 closed

[2021-05-25 02:12] lurock commented on #278
Yeah... the error you were getting because the angular-playground.json did not have the ./src path is a bug and I will be putting a patch out for it so thanks for reporting that issue.

[2021-05-25 02:18] DanWahlin commented on #278
Good to know. Thanks again for your help. Appreciate the super quick response.

[2021-05-31 10:48] Erwol commented on #42
Side note for `angular-playground@7.1.1`. I had to edit the file `angular-playground.json`, not  `angular-cli.json`. The resulting `json` looks like:

[code]
And it's working like a charm, thanks @Hosar.

[2021-06-06 22:52] randre70 opened #281 "Example playground not running, not updated to v8.1.1"
### Versions
[code]
[code]

### Repro steps
* Checkout angular-playground tag v8.1.1
* Run "npm i"
* Run ". scripts/build.sh"
* cd examples/cli-example
* Run "npm run playground"

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)
See examples/cli-example/src/main.playground.ts
Obviously the example still implements the v7 scheme and hasn

[2021-06-07 20:17] lurock commented on #281
Thanks, I have update the example project to work with v8.1.1

[2021-06-07 20:17] #281 closed

[2021-07-30 15:19] andradf commented on #240
While I'm not sure if this was the cause for the original poster, I had the same issue and in the end, after an hour wasted, I figured out that I was running `npm start playground` instead of the correct `npm run playground`. Hope this helps someone else.

[2021-09-11 04:37] YazeedFares opened #288 "Unable to start playground, scss loading error"
### Versions
[code]

[code]

### Repro steps

* Install angular-playground using ng add angular-playground --project=sample-project command:
* Run angular playground using npm run playground command

### Observed Behavior
[code]

### Desired Behavior
[code]

[2021-11-12 17:04] DanWahlin opened #291 "Can't resolve 'core-js/proposals/reflect-metadata' in Angular 13"
### Versions
[code]

[code]

### Repro steps
* Clone https://github.com/danwahlin/angular-jumpstart
* npm install
* npm run playground

### Observed Behavior

[ng serve]:
Error: Module not found: Error: Can't resolve 'core-js/proposals/reflect-metadata' in '/Users/danwahlin/Dropbox/Projects/GitHub/Angular-JumpStart'

Full output:

[code]

### Desired Behavior
Successful build and ability to run An

[2021-11-23 18:37] lurock commented on #291
@DanWahlin I removed 'core-js' from your package.json and references to it in your pollyfills.ts file.  I then removed all the node-modules and reinstalled them.  I was then able to run playground with no issues. I am not sure if you need 'core-js' for something but it is not in a default angular project.

[2021-11-23 18:37] #291 closed

[2021-11-23 19:27] DanWahlin commented on #291
Thanks @lurock! I suspect that was left over from older versions but didn't think to remove it. That project started with AngularJS and has been migrated to each version over the years. :-) Thanks again.

[2021-12-20 15:34] pascallalonde commented on #288
I've fixed my import issues by adding my configuration to 'playground' to angular.json.
`
            "stylePreprocessorOptions": {
              "includePaths": ["[your_project_path]/src/styles"]
            },
`

[2021-12-20 16:06] pascallalonde opened #292 "Component never resolves items from AsyncPipe"
### Versions
[code]

[code]

### Repro steps

* Followed setup instructions
* Generated a sandbox file for my component
* Imported CommonModule in main.playground.ts
* Mocked my service to return an Observable containing an array of items.

### Observed Behavior
[code]
* Component renders
* Async pipe does not resolve items from Subject.
* Tested with an array instead of an Observable and componen

[2021-12-20 16:18] #288 closed

[2022-01-25 17:48] bendehghan opened #299 "npm 8 dependency fails on outdated rxjs packages"
Angular 13 relies on rxjs 7 so playground should also move to that. But really all packages need updating to the next version.

### Versions
[code]

### Repro steps
npm install fails without --legacy-peer-deps

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)

[2022-01-27 01:35] lurock commented on #299
I have updated all the dependencies.

[2022-01-27 01:35] #299 closed

[2022-01-27 01:39] lurock commented on #292
We use async pipes in lots of our components and I have not experienced this problem. Did you register the Mock service in the "providers" on the sandbox?

[2022-01-31 22:15] bendehghan opened #301 "check visual regression fails"
Running angular-playground 9.0.0

### Versions

[code]

### Repro steps
[code]

### Observed Behavior
[code]

### Desired Behavior
[code]

### Any other details that may be useful (optional)

[2022-02-04 21:17] bendehghan commented on #301
Any updates on this?
Thanks...

[2022-02-05 01:25] JustinCouto commented on #301
Sorry for the delayed response.  This feature is sort of experimental.  We built it in as sort of a proof of concept to see how it might work.  We have talked about removing it entirely because we don't have the time or resources to really make it great.  We decided to leave it in as long as it continues to work or if there were community members that would like to take on the development and main

[2022-02-05 01:25] #301 closed

[2022-02-16 02:17] bendehghan commented on #301
I made a pull request for this. It's a small change in the puppeteer code.
https://github.com/SoCreate/angular-playground/pull/305

Can you please review and merge it?
Thanks :)

[2022-02-16 06:52] JustinCouto commented on #301
Thanks for the contribution.  We will get it merged in tomorrow morning PST.

[2022-02-16 21:27] #292 closed

[2022-02-23 01:30] willhartman opened #306 "Inflexible Assignment to <title> Element"
### Current Behaviour

The `initializePlayground` method sets the `<title>` element text to `Playground`.

Currently this `Playground` text cannot be configured.

### Suggested Behaviour

Library consumers can configure the text that is applied to the `<title>` element.

### Relevant Code

https://github.com/SoCreate/angular-playground/blob/fa684825a28321cebe08cbac1ebf43bae43e9785/projects/playgro

[2022-02-24 20:10] #306 closed

[2022-03-04 12:30] oschlegel opened #309 "Custom builder"
Angular provides the possibility to extend the default builders by wrapping it with a custom builder. This means that the angular playground package could provide a custom builder for the `build`, `serve` and possibly even additional commands which are custom to angular playground like `check-errors`. These builders could include the logic which is currently included in the angular playground cli

[2022-03-08 04:26] lurock commented on #309
This is something we have discussed before and are interested in making these changes. It would be awesome if this is something you would like to work on and submit us a pull request with the changes.  At this time we just don't have the time or resources to do it ourselves.

[2022-05-08 14:25] pascallalonde commented on #164
I think this is also what I am trying to achieve, the sandbox code looks like this:

`
export default sandboxOf(ConfirmPasswordComponent, {
    imports: [CommonsUixModule]
})
    .add('default', {
        template: '<article class="sandbox-component-wrapper"><button mat-raised-button color="primary" (click)="promptForPassword()">Click to confirm</button></article>',
        context: {

[2022-05-08 14:45] pascallalonde commented on #164
Ok, I got it by declaring a wrapper component in the sandbox.

`
@Component({
    selector: 'app-sandbox-component-wrapper',
    template: '<button mat-raised-button color="primary" (click)="promptForPassword()">Click to confirm</button>'
})
class SandboxDialogComponentWrapper {
    constructor(private readonly dialog: MatDialog) {

    }

    promptForPassword(): void {
        this.dialog.open(C

[2022-06-06 10:02] jrdutton opened #312 "Upgrade to Angular 14 gives ng serve 'Unknown argument: publicHost' error when running playground"
### Versions
#### angular-playground version
9.0.1
#### ng version
Angular CLI: 14.0.0
Node: 14.17.3
Package Manager: npm 6.14.13
OS: win32 x64

Angular: 14.0.0
... animations, cli, common, compiler, compiler-cli, core, forms
... language-service, localize, platform-browser
... platform-browser-dynamic, router

Package                         Version
-----------------------------------------------

[2022-06-07 00:19] lurock commented on #312
This issue is resolved in latest push of Angular Playground version 10.0.1.

[2022-06-07 00:19] #312 closed

[2022-06-07 07:50] jrdutton commented on #312
Thank you so much 🥇

[2022-09-12 21:54] bendehghan opened #314 "--check-visual-regressions not working in Jest 28"
### Versions
[code]

[code]

[code]

### Repro steps
[code]

### Observed Behavior
The result is this:
[code]

### Any other details that may be useful (optional)
I think the issue might be related to this: https://jestjs.io/docs/28.x/upgrading-to-jest28#jsdom
which says that jest-environment-jsdom is needs to be installed separately in jest 28.

Incidentally Jest is now v29 but I haven't gotten t

[2022-09-15 16:59] JustinCouto commented on #314
Hi @bendehghan

Thanks for reporting this.  We would love to have you submit a pull request to fix this issue. Thank you!

[2022-09-16 19:23] bendehghan commented on #314
I tried but had a hard time building the code I got from github. If you update the build instructions so that I can build it I can attempt to make the changes maybe. :)
Maybe you're relying on some special shell commands I don't have.

[code]

[2022-09-20 18:57] bendehghan commented on #314
Any update on this?
Where can I find file build.sh??

Thanks

[2022-09-20 19:08] JustinCouto commented on #314
Hey Ben,

If you download and install Cmder

https://github.com/cmderdev/cmder

That should have everything you need to build it.  Sorry, I meant to send this to you the other day and I got pulled away in the middle of it

Thank you,

Justin Couto
CEO @ SoCreate
________________________________
From: Ben Dehghan ***@***.***>
Sent: Tuesday, September 20, 2022 11:57:10 AM
To: SoCreate/angular-playgr

[2022-09-20 20:48] bendehghan commented on #314
I'm on mac. This seems like a windows thing, no?

[2022-09-20 20:49] bendehghan commented on #314
The issue I have is that your code is referring to
`./scripts/build.sh`
which is missing in the tree.

[2022-09-21 16:12] lurock commented on #314
@bendehghan please take another look at the contribution instructions as I have updated them.   https://github.com/SoCreate/angular-playground/blob/master/CONTRIBUTING.md

[2022-09-28 23:41] bendehghan commented on #314
Ok. Here's the PR:
https://github.com/SoCreate/angular-playground/pull/316

[2022-09-30 18:56] #314 closed

[2022-09-30 21:08] bendehghan commented on #314
This is great. Thank you. Will you do a patch release for this?